In [1]:
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd

In [2]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d04_text_meta_2001_08_01.txt'
meta_data1 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data1

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,400000,101,S,4,41,52582.0,19.2,459.520,38.081167,-122.547606,2.575,ML,3,NaN,DT028,L3-S-27-101-01920,NaN,NaN
1,400001,101,N,4,85,68000.0,38.26,387.897,37.364085,-121.901149,0.480,ML,5,NaN,E37GN,L5-N-37-101-03835,NaN,NaN
2,400002,101,S,4,81,68252.0,14.59,416.814,37.583227,-122.327501,0.225,ML,4,NaN,DT243,L4-S-35-101-01459,NaN,NaN
3,400004,680,N,4,13,68378.0,.73,32.147,37.732603,-121.947070,0.290,ML,4,NaN,NaN,L4-N-28-680-00073,NaN,NaN
4,400005,80,W,4,13,60620.0,4.2,17.546,37.954132,-122.328900,0.120,ML,4,NaN,NaN,L4-W-28-080-00420,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1261,401609,101,S,4,97,70098.0,18.9,486.649,38.420521,-122.715784,2.735,ML,3,NaN,NaN,L3-S-20-101-01890,NaN,NaN
1262,401618,84,E,4,81,46870.0,26.1,26.011,NaN,NaN,2.800,ML,3,NaN,NaN,U3-E-35-084-02610,NaN,NaN
1263,401619,84,E,4,81,46870.0,26.7,26.611,NaN,NaN,2.800,ML,3,NaN,NaN,U3-E-35-084-02670,NaN,NaN
1264,401620,101,N,4,81,9066.0,17.93,420.154,37.602493,-122.380088,0.465,ML,4,NaN,NaN,L4-S-35-101-01793,NaN,NaN
1265,401621,880,S,4,1,68084.0,23.2,33.427,37.713988,-122.171625,0.315,ML,5,NaN,NaN,L5-S-33-880-02320,NaN,NaN

In [3]:
meta_data1.ID.unique()
print('ID number: ',len(meta_data1.ID.unique()))

ID number:  1266

In [4]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d04_text_meta_2004_03_25.txt'
meta_data2 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data2.ID.unique()
print('ID number 2: ',len(meta_data2.ID.unique()))
meta_data2

ID number 2:  1262

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,400000,101,S,4,41,52582.0,19.2,459.520,38.081167,-122.547606,2.575,ML,3,NaN,DT028,L3-S-27-101-01920,NaN,NaN
1,400001,101,N,4,85,68000.0,38.26,387.897,37.364085,-121.901149,0.480,ML,5,NaN,E37GN,L5-N-37-101-03826,NaN,NaN
2,400002,101,S,4,81,68252.0,14.59,416.814,37.583227,-122.327501,0.225,ML,4,NaN,DT243,L4-S-35-101-01459,NaN,NaN
3,400004,680,N,4,13,68378.0,.73,32.147,37.732603,-121.947070,0.290,ML,4,NaN,NaN,L4-N-28-680-00073,NaN,NaN
4,400005,80,W,4,13,60620.0,4.2,17.546,37.954132,-122.328900,0.120,ML,4,NaN,NaN,L4-W-28-080-00420,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257,401605,101,N,4,97,NaN,14.98,482.933,38.364327,-122.712405,3.265,ML,2,NaN,NaN,L2-N-20-101-01498,NaN,NaN
1258,401606,87,S,4,85,68000.0,2.1,2.100,37.284463,-121.867693,0.195,ML,2,NaN,NaN,L2-S-37-087-00210,NaN,NaN
1259,401607,680,S,4,1,20018.0,20.29,29.828,37.704028,-121.924355,0.655,FF,2,NaN,NaN,L2-S-33-680-02029,NaN,NaN
1260,401608,680,N,4,1,57792.0,19.83,29.368,37.697834,-121.921348,2.500,ML,2,NaN,NaN,L2-N-33-680-01983,NaN,NaN
1261,401609,101,S,4,97,70098.0,18.9,486.649,38.420521,-122.715784,2.735,ML,3,NaN,NaN,L3-S-20-101-01890,NaN,NaN

In [5]:
meta_data2.ID.unique()

array([400000, 400001, 400002, ..., 401607, 401608, 401609], dtype=int64)

In [6]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d04_text_meta_2014_05_09.txt'
meta_data3 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data3.ID.unique()
print('ID number 3: ',len(meta_data3.ID.unique()))
meta_data3

ID number 3:  2862

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,400000,101,S,4,41,52582.0,19.23,459.835,38.081498,-122.547963,0.415,ML,4,N of 37 / 101 Interchange,DT5A2,L4-S-27-101-01923,101482,424150
1,400001,101,N,4,85,68000.0,38.26,387.897,37.364085,-121.901149,0.445,ML,5,NB 880 RM-N-CONN,DT697,L5-N-37-101-03826,998145,426518
2,400002,101,S,4,81,68252.0,14.67,416.893,37.584097,-122.328465,0.310,ML,5,Peninsula Ave OC,DT243,L5-S-35-101-01467,106296,426945
3,400006,880,S,4,1,81204.0,13.54,23.767,37.605003,-122.065542,0.340,ML,4,Whipple Rd rm-s-diag,DTA20,L4-S-33-880-01354,998415,421858
4,400007,101,N,4,81,68252.0,15.25,417.437,37.586936,-122.337721,0.365,ML,5,2000' N of Pennisula Ave,DT275,L5-N-35-101-01525,999325,426427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2857,406305,101,S,4,97,56784.0,4.95,472.984,38.248385,-122.630829,0.425,ML,2,oppo E Washington St rm-n-loop,DTB52,L2-S-20-101-00495,996071,437202
2858,406311,101,S,4,81,73262.0,21.67,423.893,37.649704,-122.406800,NaN,FR,1,Produce Ave off,DT297,z1-S-35-101-02167,755279,437171
2859,406327,580,E,4,1,57792.0,20.64,36.672,37.701171,-121.921149,NaN,FR,1,Hopyard Rd off,DT483,z1-E-33-580-02064,755282,431839
2860,406334,680,N,4,1,57792.0,R19.94,29.478,37.699354,-121.921948,NaN,FF,1,WB 580 conn-n-diag,DT326,C1-N-33-680-R1994,996067,437197
2861,406335,680,N,4,1,57792.0,19.83,29.368,37.697834,-121.921348,NaN,FF,1,EB 580 conn-n-diag,DT326,C1-N-33-680-R1998,996068,431813

In [7]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d04_text_meta_2024_03_20.txt'
meta_data4 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data4.ID.unique()
print('ID number 4: ',len(meta_data4.ID.unique()))
meta_data4

ID number 4:  4089

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,400000,101,S,4,41,52582.0,19.23,459.835,38.081498,-122.547963,0.415,ML,4,SR-37 conn-s-diag,DT5A2,L4-S-27-101-01923,101482,424150
1,400001,101,N,4,85,68000.0,38.26,387.897,37.364085,-121.901149,0.265,ML,5,NB 880 rm-n-loop,DT697,L5-N-37-101-03826,998145,426518
2,400002,101,S,4,81,68252.0,14.67,416.893,37.584097,-122.328465,0.310,ML,5,Peninsula Ave OC,DT243,L5-S-35-101-01467,106296,426945
3,400006,880,S,4,1,81204.0,13.54,23.767,37.605003,-122.065542,0.340,ML,4,Whipple Rd rm-s-diag,DTA20,L4-S-33-880-01354,998415,421858
4,400007,101,N,4,81,68252.0,15.25,417.437,37.586936,-122.337721,0.365,ML,5,2000' N of Pennisula Ave,DT275,L5-N-35-101-01525,999325,426427
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4084,428557,92,E,4,81,25338.0,13.46,14.186,37.562381,-122.275160,NaN,OR,2,Foster City Blvd on,DT812,a2-E-35-092-01346,799941,449123
4085,428588,101,N,4,85,77000.0,45.57,395.207,37.398597,-122.025693,NaN,FR,2,Mathilda Ave,DTA83,z2-N-37-101-04557,755684,449224
4086,428589,101,N,4,85,77000.0,45.63,395.267,37.398829,-122.026742,NaN,OR,2,Mathilda Ave. rm-n-loop,DTA83,a2-N-37-101-04563,799954,449227
4087,428729,580,E,4,1,57792.0,20.22,36.252,37.701650,-121.913554,NaN,OR,2,2700' E of Hwy 680,DT601,a2-E-33-580-02022,799955,449219
4088,428833,980,E,4,1,53000.0,1.63,1.621,37.818480,-122.269735,NaN,OR,1,27th St onto I-580 connector,DT414,a1-E-33-980-00163,799956,449231

In [8]:
import numpy as np

# # 示例数据，实际数据可能会有不同
# arr1 = np.array(range(400000, 401610))
# arr2 = np.array(range(400500, 402000))
# arr3 = np.array(range(400900, 402500))
# arr4 = np.array(range(400000, 402000))

# 计算四个数组的交集
def find_common_elements(arr1, arr2, arr3, arr4):
    common12 = np.intersect1d(arr1, arr2)
    common123 = np.intersect1d(common12, arr3)
    common1234 = np.intersect1d(common123, arr4)
    return common1234

# 调用函数（在最终版本中取消注释）
common_elements = find_common_elements(meta_data4.ID.unique(), meta_data3.ID.unique(), meta_data2.ID.unique(), meta_data1.ID.unique())
print('common number 4: ',len(common_elements))
np.save('pems04_comm.npy',common_elements)
common_elements

common number 4:  822

array([400000, 400001, 400002, 400006, 400007, 400009, 400010, 400011,
       400014, 400017, 400025, 400026, 400027, 400028, 400030, 400031,
       400037, 400038, 400040, 400041, 400043, 400044, 400045, 400048,
       400049, 400050, 400052, 400053, 400057, 400059, 400060, 400065,
       400067, 400069, 400071, 400073, 400074, 400075, 400078, 400082,
       400083, 400084, 400085, 400088, 400090, 400091, 400093, 400094,
       400096, 400097, 400098, 400100, 400101, 400103, 400104, 400105,
       400106, 400107, 400108, 400109, 400110, 400111, 400112, 400113,
       400115, 400116, 400118, 400119, 400122, 400124, 400125, 400126,
       400128, 400132, 400134, 400137, 400138, 400141, 400143, 400145,
       400146, 400147, 400148, 400149, 400150, 400152, 400153, 400154,
       400156, 400158, 400160, 400162, 400168, 400169, 400171, 400172,
       400174, 400176, 400178, 400180, 400181, 400182, 400183, 400184,
       400185, 400186, 400189, 400190, 400192, 400193, 400195, 400197,
       400201, 400202, 400203, 400206, 400207, 400208, 400209, 400211,
       400212, 400213, 400214, 400216, 400218, 400221, 400222, 400223,
       400224, 400225, 400227, 400228, 400231, 400232, 400235, 400236,
       400237, 400238, 400240, 400242, 400246, 400248, 400249, 400251,
       400252, 400253, 400255, 400257, 400258, 400260, 400261, 400263,
       400264, 400265, 400268, 400270, 400272, 400274, 400275, 400278,
       400280, 400283, 400284, 400287, 400289, 400291, 400292, 400295,
       400296, 400297, 400298, 400300, 400302, 400303, 400304, 400307,
       400308, 400309, 400312, 400313, 400314, 400316, 400318, 400319,
       400321, 400322, 400323, 400324, 400325, 400329, 400330, 400331,
       400333, 400334, 400335, 400336, 400337, 400338, 400339, 400340,
       400341, 400343, 400345, 400349, 400350, 400353, 400354, 400359,
       400360, 400361, 400363, 400369, 400372, 400376, 400378, 400381,
       400382, 400383, 400388, 400389, 400390, 400392, 400393, 400394,
       400395, 400397, 400400, 400401, 400406, 400407, 400409, 400410,
       400411, 400413, 400414, 400416, 400417, 400418, 400420, 400421,
       400422, 400425, 400427, 400428, 400429, 400430, 400432, 400435,
       400436, 400437, 400438, 400439, 400440, 400441, 400442, 400443,
       400444, 400445, 400446, 400449, 400450, 400451, 400454, 400457,
       400460, 400461, 400462, 400463, 400464, 400465, 400468, 400470,
       400473, 400474, 400478, 400479, 400480, 400484, 400485, 400486,
       400488, 400489, 400490, 400492, 400494, 400495, 400497, 400498,
       400499, 400501, 400503, 400504, 400505, 400507, 400508, 400513,
       400514, 400515, 400516, 400519, 400521, 400525, 400527, 400528,
       400529, 400531, 400532, 400534, 400535, 400536, 400538, 400539,
       400540, 400545, 400546, 400547, 400549, 400550, 400551, 400552,
       400553, 400554, 400560, 400563, 400565, 400566, 400567, 400568,
       400570, 400573, 400574, 400575, 400576, 400577, 400578, 400579,
       400580, 400581, 400582, 400586, 400591, 400593, 400596, 400598,
       400600, 400601, 400602, 400604, 400606, 400607, 400608, 400609,
       400611, 400612, 400615, 400616, 400617, 400619, 400620, 400621,
       400622, 400625, 400628, 400630, 400634, 400636, 400637, 400639,
       400641, 400642, 400643, 400645, 400646, 400648, 400649, 400654,
       400655, 400656, 400657, 400659, 400661, 400662, 400664, 400665,
       400666, 400668, 400669, 400670, 400673, 400674, 400675, 400676,
       400677, 400678, 400679, 400681, 400682, 400683, 400685, 400686,
       400687, 400688, 400690, 400691, 400692, 400695, 400696, 400698,
       400700, 400703, 400707, 400709, 400712, 400713, 400714, 400715,
       400716, 400717, 400720, 400723, 400726, 400727, 400728, 400729,
       400730, 400733, 400734, 400736, 400738, 400739, 400740, 400741,
       400742, 400743, 400744, 400746, 400747, 400748, 400749, 400750,
       400753, 400754, 400756, 400760, 400761, 400763, 400764, 400765,
       400766, 400767, 400768, 400770, 400772, 400774, 400778, 400781,
       400782, 400783, 400784, 400785, 400787, 400788, 400790, 400791,
       400792, 400793, 400794, 400797, 400799, 400800, 400801, 400804,
       400805, 400807, 400810, 400814, 400815, 400817, 400818, 400819,
       400822, 400823, 400828, 400829, 400832, 400835, 400837, 400838,
       400839, 400842, 400844, 400852, 400853, 400858, 400859, 400861,
       400863, 400865, 400867, 400868, 400869, 400870, 400873, 400878,
       400880, 400883, 400884, 400886, 400891, 400892, 400894, 400895,
       400898, 400902, 400904, 400905, 400907, 400911, 400916, 400922,
       400923, 400928, 400929, 400933, 400934, 400935, 400939, 400941,
       400942, 400946, 400948, 400949, 400950, 400951, 400952, 400953,
       400955, 400956, 400958, 400961, 400962, 400963, 400964, 400965,
       400970, 400971, 400972, 400973, 400975, 400976, 400977, 400978,
       400980, 400981, 400983, 400986, 400988, 400989, 400990, 400993,
       400995, 400996, 401000, 401002, 401003, 401006, 401011, 401012,
       401014, 401015, 401016, 401017, 401018, 401038, 401041, 401045,
       401052, 401053, 401056, 401058, 401062, 401065, 401066, 401068,
       401070, 401072, 401073, 401079, 401081, 401083, 401084, 401090,
       401095, 401097, 401098, 401100, 401102, 401103, 401104, 401106,
       401107, 401110, 401111, 401112, 401113, 401114, 401121, 401124,
       401126, 401129, 401134, 401137, 401141, 401142, 401143, 401144,
       401148, 401151, 401152, 401154, 401155, 401156, 401163, 401167,
       401190, 401195, 401197, 401198, 401199, 401208, 401209, 401210,
       401211, 401213, 401215, 401216, 401218, 401219, 401221, 401223,
       401224, 401226, 401228, 401229, 401230, 401233, 401234, 401239,
       401240, 401242, 401243, 401253, 401256, 401260, 401269, 401273,
       401274, 401277, 401279, 401280, 401282, 401283, 401285, 401288,
       401289, 401298, 401305, 401314, 401318, 401327, 401328, 401333,
       401336, 401339, 401343, 401344, 401347, 401351, 401356, 401357,
       401358, 401359, 401362, 401366, 401373, 401381, 401385, 401388,
       401390, 401391, 401392, 401393, 401394, 401395, 401399, 401400,
       401401, 401402, 401403, 401405, 401407, 401408, 401409, 401410,
       401411, 401412, 401413, 401416, 401420, 401421, 401422, 401423,
       401424, 401426, 401431, 401433, 401434, 401435, 401437, 401439,
       401440, 401441, 401443, 401444, 401446, 401447, 401448, 401450,
       401451, 401452, 401453, 401454, 401457, 401461, 401462, 401464,
       401467, 401468, 401469, 401470, 401471, 401472, 401474, 401475,
       401476, 401478, 401480, 401481, 401482, 401483, 401484, 401485,
       401486, 401487, 401488, 401489, 401496, 401501, 401503, 401507,
       401509, 401512, 401513, 401515, 401516, 401517, 401519, 401522,
       401523, 401524, 401526, 401529, 401531, 401537, 401538, 401539,
       401541, 401542, 401545, 401546, 401547, 401548, 401551, 401555,
       401557, 401558, 401560, 401561, 401562, 401564, 401566, 401567,
       401568, 401571, 401575, 401578, 401579, 401580, 401581, 401582,
       401583, 401586, 401587, 401588, 401589, 401590, 401592, 401593,
       401594, 401595, 401596, 401597, 401598, 401599, 401601, 401602,
       401603, 401604, 401605, 401606, 401608, 401609], dtype=int64)

In [9]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d03_text_meta_2024_04_25.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems03: ',len(meta_data.ID.unique()))
meta_data

ID number pems03:  1809

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,308511,50,E,3,17,NaN,31.627,60.162,38.761062,-120.569835,3.134,ML,2,Sly Park Rd,1,NaN,NaN,NaN
1,308512,50,W,3,17,NaN,31.627,60.166,38.761182,-120.569866,3.995,ML,2,Sly Park Rd,1,NaN,NaN,NaN
2,311831,5,S,3,67,NaN,10.896,506.189,38.409782,-121.484120,NaN,OR,1,Elk Grove Blvd,1,NaN,NaN,NaN
3,311832,5,S,3,67,NaN,10.896,506.189,38.409782,-121.484120,NaN,FR,1,Elk Grove Blvd,1,NaN,NaN,NaN
4,311844,5,N,3,67,NaN,11.08,506.373,38.412421,-121.484289,NaN,OR,2,Elk Grove Blvd 5NB Slip,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804,3423116,16,E,3,113,NaN,31.662,38.915,38.680175,-121.955925,5.000,ML,1,16EB at 505NB JCT OS,1,NaN,NaN,NaN
1805,3900021,50,E,3,67,NaN,12.46,18.130,38.608682,-121.270954,0.007,ML,3,Sunrise to 50 EB ML Virtual,1,NaN,NaN,NaN
1806,3900022,50,E,3,67,NaN,12.46,18.130,38.608682,-121.270954,0.000,HV,1,Sunrise to 50 EB Virtual HOV,1,NaN,NaN,NaN
1807,3900023,50,W,3,67,NaN,12.46,18.130,38.608894,-121.271067,0.019,ML,3,Sunrise to 50 EB - OS Virtual,1,NaN,NaN,NaN
1808,3900024,50,W,3,67,NaN,12.46,18.130,38.608894,-121.271067,0.554,HV,1,Sunrise to 50 EB HOV - OS Virtua,1,NaN,NaN,NaN

In [10]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d05_text_meta_2024_01_19.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems05: ',len(meta_data.ID.unique()))
meta_data

ID number pems05:  573

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,500010011,1,N,5,53,NaN,72.33,322.865,36.535850,-121.912881,2.713,ML,1,CARMEL RIV BRIDGE HWY 1 NB VDS M,1,NaN,NaN,NaN
1,500010012,1,S,5,53,NaN,72.331,322.800,36.535860,-121.912870,2.714,ML,1,CARMEL RIV BRIDGE HWY 1 NB VDS M,1,NaN,NaN,NaN
2,500010021,1,N,5,53,NaN,72.757,323.292,36.541075,-121.908778,0.697,ML,2,CARMEL VALLEY RD HWY 1 NB VDS ML,1,NaN,NaN,NaN
3,500010022,1,S,5,53,NaN,72.758,323.227,36.541106,-121.908820,0.698,ML,1,CARMEL VALLEY RD HWY 1 NB VDS ML,1,NaN,NaN,NaN
4,500010031,1,N,5,53,NaN,73.726,324.261,36.554647,-121.910926,0.831,ML,2,OCEAN AVE HWY 1 NB VDS MLNB NB,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,506800131,68,E,5,53,NaN,17.257,17.461,36.625285,-121.680718,0.814,ML,2,RESERVATION & RIVER RD HWY 68 EB,1,NaN,NaN,NaN
569,506800132,68,E,5,53,NaN,17.258,17.462,36.625294,-121.680703,0.483,ML,2,RESERVATION & RIVER RD HWY 68 EB,1,NaN,NaN,NaN
570,506800141,68,E,5,53,NaN,18.224,18.428,36.634694,-121.668155,0.483,ML,2,SPRECKELS BLVD HWY 68 EB VDS MLE,1,NaN,NaN,NaN
571,506800142,68,E,5,53,NaN,18.225,18.429,36.634707,-121.668147,2.500,ML,2,SPRECKELS BLVD HWY 68 EB VDS MLW,1,NaN,NaN,NaN
572,506800143,68,E,5,53,NaN,18.226,18.430,36.634719,-121.668140,NaN,FR,1,SPRECKELS BLVD HWY 68 EB VDS OFW,1,NaN,NaN,NaN

In [4]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d06_text_meta_2023_08_08.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems06: ',len(meta_data.ID.unique()))
meta_data

ID number pems06:  705

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,601100,180,W,6,19,27000.0,60.935,37.399,36.754715,-119.735475,0.205,ML,1,CHESTNUT LP 180 WB,1,NaN,NaN,NaN
1,601101,41,S,6,39,NaN,1.000,136.002,36.890711,-119.793037,0.436,ML,2,VALLEY CHILDREN BLVD DT 41 SB,1,NaN,NaN,NaN
2,601102,41,S,6,39,NaN,1.170,136.172,36.893199,-119.792958,2.585,ML,2,VALLEY CHILDREN BLVD LP 41 SB,1,NaN,NaN,NaN
3,601103,180,E,6,19,NaN,54.595,31.058,36.738176,-119.845004,0.460,ML,2,MARKS AVE LP 180 EB,1,NaN,NaN,NaN
4,601105,99,N,6,19,NaN,12.550,124.890,36.642613,-119.701748,0.620,ML,3,CLOVIS AVE 99 NB,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,629991,5,S,6,29,NaN,68.011,273.063,35.559093,-119.598582,2.668,ML,2,5.4 MI NO LERDO HWY (AT CANAL) S,1,NaN,NaN,NaN
701,629992,99,N,6,29,NaN,23.826,24.648,35.357102,-119.039342,0.815,ML,4,N OF RTE 58 OC AT SB OFF-RAMP,1,NaN,NaN,NaN
702,629999,5,S,6,29,NaN,37.304,242.356,35.250749,-119.207364,2.817,ML,2,S OF RTE 119 SB,1,NaN,NaN,NaN
703,639980,99,S,6,29,NaN,22.188,23.010,35.333330,-119.039727,NaN,FR,1,S OF PLANZ RD,1,NaN,NaN,NaN
704,639992,99,N,6,29,NaN,24.590,25.412,35.367945,-119.041566,NaN,OR,1,N OF RTE 58 OC AT SB OFF-RAMP,1,NaN,NaN,NaN

In [5]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d07_text_meta_2023_12_22.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems07: ',len(meta_data.ID.unique()))
meta_data

ID number pems06:  4888

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,715898,5,N,7,37,40032.0,.68,117.313,33.880069,-118.021261,0.828,ML,3,PHOEBE,2029,NaN,NaN,NaN
1,715900,5,S,7,37,40032.0,1.06,117.630,33.882892,-118.026822,NaN,OR,1,VALLEY VIEW,3255,NaN,NaN,NaN
2,715901,5,N,7,37,40032.0,1.11,117.743,33.883400,-118.027451,NaN,OR,1,VALLEY VIEW,3268,NaN,NaN,NaN
3,715903,5,N,7,37,69154.0,1.56,118.193,33.886992,-118.034125,NaN,OR,1,ALONDRA,3269,NaN,NaN,NaN
4,715904,5,S,7,37,69154.0,2.27,118.840,33.892489,-118.044573,NaN,OR,1,CARMENITA,3253,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,777794,5,S,7,37,8954.0,29.68,146.250,34.184491,-118.316733,2.645,HV,1,BURBANK 1,3243,NaN,NaN,NaN
4884,777795,5,N,7,37,8954.0,29.68,146.313,34.184656,-118.316541,2.645,HV,1,BURBANK 1,3243,NaN,NaN,NaN
4885,777796,5,N,7,37,8954.0,29.68,146.313,34.184656,-118.316541,0.350,ML,5,BURBANK 1,3243,NaN,NaN,NaN
4886,777797,5,S,7,37,8954.0,29.68,146.250,34.184491,-118.316733,NaN,FR,3,BURBANK 1,3243,NaN,NaN,NaN
4887,777829,60,W,7,37,44000.0,R2.473,2.647,34.032415,-118.183235,NaN,FR,1,THIRD,3130,NaN,NaN,NaN

In [7]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d08_text_meta_2024_04_26.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems08: ',len(meta_data.ID.unique()))
meta_data

ID number pems08:  2064

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,801230,10,W,8,71,48788.0,0.591,47.356,34.082004,-117.699964,0.845,ML,4,MONTE VISTA AVE,1,NaN,NaN,NaN
1,801231,10,W,8,71,48788.0,0.591,47.356,34.082004,-117.699964,NaN,OR,2,MONTE VISTA AVE,1,NaN,NaN,NaN
2,801232,10,E,8,71,48788.0,0.721,47.486,34.082149,-117.697705,0.996,ML,4,MONTE VISTA AVE,1,NaN,NaN,NaN
3,801233,10,E,8,71,48788.0,0.721,47.486,34.082149,-117.697705,NaN,OR,2,MONTE VISTA AVE,1,NaN,NaN,NaN
4,801234,10,W,8,71,48788.0,1.168,47.933,34.085065,-117.690768,0.660,ML,4,CENTRAL AVE,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,828990,60,E,8,65,49270.0,19.041,59.162,33.939156,-117.179892,0.313,ML,3,Moreno Beach ON (T),1,NaN,NaN,NaN
2060,828991,60,W,8,65,49270.0,19.041,59.162,33.939350,-117.179896,NaN,OR,2,Moreno Beach ON (T),1,NaN,NaN,NaN
2061,828992,60,W,8,65,49270.0,19.041,59.162,33.939350,-117.179896,NaN,FR,1,Moreno Beach ON (T),1,NaN,NaN,NaN
2062,828993,60,W,8,65,49270.0,19.041,59.162,33.939350,-117.179896,0.391,HV,1,Moreno Beach ON (T),1,NaN,NaN,NaN
2063,828995,60,E,8,65,49270.0,19.041,59.162,33.939156,-117.179892,0.313,HV,1,Moreno Beach ON (T),1,NaN,NaN,NaN

In [8]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d10_text_meta_2024_03_08.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems10: ',len(meta_data.ID.unique()))
meta_data

ID number pems10:  1378

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,1000110,5,S,10,77,NaN,R21.407,466.899,37.881396,-121.278917,0.749,ML,3,N/O Mathews Rd,NaN,NaN,NaN,NaN
1,1000210,5,S,10,77,NaN,R20.8789,466.371,37.873818,-121.277900,0.478,ML,3,N/O Eldorado St,NaN,NaN,NaN,NaN
2,1000310,5,S,10,77,NaN,R20.45,465.942,37.867677,-121.278858,0.389,ML,3,N/O Eldorado St,NaN,NaN,NaN,NaN
3,1000410,5,S,10,77,NaN,R20.1,465.592,37.862729,-121.280287,0.397,ML,3,N/O Roth Rd,NaN,NaN,NaN,NaN
4,1000510,5,S,10,77,40704.0,R19.655,465.147,37.856421,-121.282010,0.474,ML,3,N/O Roth Rd,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,10159110,12,E,10,77,NaN,17.737,87.236,38.116123,-121.264102,0.134,ML,2,E/O Central Ave,NaN,NaN,NaN,NaN
1374,10159210,12,W,10,77,NaN,17.737,87.236,38.116227,-121.264119,0.134,ML,2,E/O Central Ave,NaN,NaN,NaN,NaN
1375,10159310,12,E,10,77,NaN,17.642,87.141,38.116022,-121.265711,2.500,ML,1,W/O Central Ave,NaN,NaN,NaN,NaN
1376,10159410,12,E,10,77,NaN,17.642,87.141,38.116022,-121.265711,0.048,ML,1,W/O Central Ave,NaN,NaN,NaN,NaN
1377,10159510,12,W,10,77,NaN,17.642,87.141,38.116125,-121.265726,2.548,ML,2,W/O Central Ave,NaN,NaN,NaN,NaN

In [9]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d11_text_meta_2022_03_16.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems11: ',len(meta_data.ID.unique()))
meta_data

ID number pems11:  1440

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,1100313,5,N,11,73,66000.0,22.324,22.215,32.791540,-117.207160,NaN,FR,1,Clairemont Dr to 5 NB,1,NaN,NaN,NaN
1,1100323,5,N,11,73,66000.0,34.142,34.033,32.950106,-117.243571,NaN,FR,2,Del Mar Heights Rd to 5 NB,1,NaN,NaN,NaN
2,1100326,5,N,11,73,66000.0,36.230,36.121,32.979329,-117.252709,NaN,FR,2,Via de la Valle EB to 5 NB,1,NaN,NaN,NaN
3,1100330,5,N,11,73,72506.0,37.386,37.277,32.995723,-117.256395,NaN,FR,2,Lomas Santa Fe Dr EB to 5 NB,1,NaN,NaN,NaN
4,1100340,5,N,11,73,11194.0,47.165,47.056,33.123940,-117.322960,NaN,FR,2,Palomar Airport Rd to 5 NB,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,1127213,15,S,11,73,66000.0,14.991,15.238,32.903245,-117.116630,0.513,ML,6,Carroll Canyon Rd to 15 SB,1,NaN,NaN,NaN
1436,1127218,805,N,11,73,66000.0,21.332,21.183,32.817540,-117.159809,0.248,ML,4,Balboa Ave WB to 805 NB,1,NaN,NaN,NaN
1437,1127224,805,N,11,73,66000.0,17.300,17.151,32.767405,-117.128984,0.237,ML,4,805 NB S/O 8,1,NaN,NaN,NaN
1438,1127227,94,W,11,73,66000.0,1.570,0.154,32.713385,-117.145037,NaN,FR,2,5 NB connector from 94 WB,1,NaN,NaN,NaN
1439,1127252,805,N,11,73,66000.0,12.350,12.201,32.704271,-117.094872,0.883,ML,5,Imperial Ave to 805 NB (BOS),1,NaN,NaN,NaN

In [10]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d12_text_meta_2023_12_05.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems12: ',len(meta_data.ID.unique()))
meta_data

ID number pems12:  2587

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,1201044,133,S,12,59,36770.0,9,8.991,33.661840,-117.755300,NaN,OR,1,BARRANCA2,565,NaN,NaN,NaN
1,1201052,133,S,12,59,36770.0,9,8.991,33.661840,-117.755300,NaN,FR,1,BARRANCA 2,565,NaN,NaN,NaN
2,1201054,133,S,12,59,36770.0,9,8.991,33.661840,-117.755300,1.285,ML,3,BARRANCA2,565,NaN,NaN,NaN
3,1201058,133,N,12,59,36770.0,8.866,8.857,33.659542,-117.756294,NaN,OR,1,BARRANCA1,551,NaN,NaN,NaN
4,1201064,133,N,12,59,36770.0,8.732,8.723,33.657392,-117.757636,NaN,FR,1,BARRANCA 1,551,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2582,1223066,405,N,12,59,84550.0,20.894,20.664,33.774862,-118.044441,NaN,FF,1,Almond,2417,NaN,NaN,NaN
2583,1223080,405,S,12,59,84550.0,20.894,20.664,33.774589,-118.044696,0.443,HV,2,Almond,2417,NaN,NaN,NaN
2584,1223081,405,S,12,59,84550.0,20.894,20.664,33.774589,-118.044696,0.443,ML,6,Almond,2417,NaN,NaN,NaN
2585,1223082,405,S,12,59,84550.0,20.894,20.664,33.774589,-118.044696,NaN,FF,1,Almond,2417,NaN,NaN,NaN
2586,1223083,405,S,12,59,84550.0,20.894,20.664,33.774589,-118.044696,NaN,FF,3,Almond,2417,NaN,NaN,NaN