In [2]:
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd

In [1]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d11_text_meta_2002_06_12.txt'
meta_data1 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data1

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,1100270,94,W,11,73,66000.0,1.95,0.534,32.713274,-117.138818,NaN,FR,2,25TH ST,1,NaN,NaN,NaN
1,1100307,5,N,11,73,66000.0,R18.876,18.767,32.746575,-117.190957,NaN,FR,1,MOORE/OLD TOWN,188,NaN,NaN,NaN
2,1100310,5,N,11,73,66000.0,R20.663,20.554,32.767779,-117.205941,NaN,FR,2,SEA WORLD DR,223,NaN,NaN,NaN
3,1100313,5,N,11,73,66000.0,R22.092,21.983,32.788206,-117.206890,NaN,FR,1,CLAIREMONT DR,151,NaN,NaN,NaN
4,1100326,5,N,11,73,66000.0,R36.043,35.934,32.976740,-117.251751,NaN,FR,2,VIA DE LA VALLE,130,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,1111572,805,N,11,73,66000.0,3.2,3.051,32.588107,-117.036209,5.000,ML,4,NB 805 @ 15,69,NaN,NaN,NaN
642,1111573,805,N,11,73,66000.0,14.83,14.681,32.734572,-117.113181,NaN,FF,2,NB 15 TO NB 805 CONN,69,NaN,NaN,NaN
643,1111574,805,N,11,73,66000.0,13.98,13.831,32.725845,-117.103188,NaN,FF,4,WB 94 TO NB 805 CONN,70,NaN,NaN,NaN
644,1111577,5,N,11,73,66000.0,R32.98,32.871,32.933367,-117.241134,2.583,HV,1,HOVNB 5 @ CARMEL VAL,85,NaN,NaN,NaN
645,1111578,15,S,11,73,66000.0,M14.982,15.229,32.903115,-117.116630,4.779,HV,2,HOV @ CARROLL CANYON,95,NaN,NaN,NaN

In [2]:
meta_data1.ID.unique()
print('ID number: ',len(meta_data1.ID.unique()))

ID number:  646

In [3]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d11_text_meta_2011_02_04.txt'
meta_data2 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data2.ID.unique()
print('ID number 2: ',len(meta_data2.ID.unique()))
meta_data2

ID number 2:  1221

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,1100310,5,N,11,73,66000.0,R20.663,20.554,32.767779,-117.205941,NaN,FR,2,SEA WORLD DR,223,NaN,NaN,NaN
1,1100313,5,N,11,73,66000.0,R22.092,21.983,32.788206,-117.206890,NaN,FR,1,CLAIREMONT DR,151,NaN,NaN,NaN
2,1100323,5,N,11,73,66000.0,R33.979,33.870,32.947766,-117.243147,NaN,FR,2,DEL MAR HTS RD,129,NaN,NaN,NaN
3,1100326,5,N,11,73,66000.0,R36.043,35.934,32.976740,-117.251751,NaN,FR,2,VIA DE LA VALLE,130,NaN,NaN,NaN
4,1100330,5,N,11,73,66000.0,R37.246,37.137,32.993716,-117.256045,NaN,FR,2,LOMAS SANTA FE,341,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,1120724,5,N,11,73,66000.0,R31.904,31.795,32.918784,-117.235428,NaN,OR,3,NB5 Carmel Mtn Rd,329,NaN,NaN,NaN
1217,1120732,5,N,11,73,72506.0,R37.31,37.201,32.994635,-117.256182,NaN,OR,2,NB5 Lomas Santa WB,132,NaN,NaN,NaN
1218,1120740,5,S,11,73,66000.0,R37.35,37.241,32.995208,-117.256294,NaN,OR,2,SB5 Lomas San Fe EB,107,NaN,NaN,NaN
1219,1120749,5,S,11,73,66000.0,R31.659,31.517,32.916250,-117.232541,NaN,FR,2,Carmel Mt. To SB 5,333,NaN,NaN,NaN
1220,1120754,5,S,11,73,66000.0,R31.659,31.517,32.916250,-117.232541,0.619,ML,4,Carmel Mt. To SB 5,333,NaN,NaN,NaN

In [24]:
meta_data2.ID.unique()

array([1000110, 1000210, 1000310, 1000410, 1000510, 1000610, 1000710,
       1000810, 1000910, 1001010, 1001110, 1001210, 1001310, 1001410,
       1001510, 1001610, 1001710, 1001810, 1001910, 1002010, 1002110,
       1002210, 1002310, 1002410, 1002510, 1002610, 1002710, 1002810,
       1002910, 1003010, 1003110, 1003210, 1003310, 1003410, 1003510,
       1003610, 1003710, 1003810, 1003910, 1004010, 1004110, 1004210,
       1004310, 1004410, 1004510, 1004610, 1004710, 1004810, 1004910,
       1005010, 1005110, 1005210, 1005310, 1005410, 1005510, 1005610,
       1005710, 1005810, 1005910, 1006010, 1006110, 1006210, 1006310,
       1006410, 1006510, 1006610, 1006710, 1006810, 1006910, 1007010,
       1007110, 1007210, 1007310, 1007410, 1007510, 1007610, 1007710,
       1007810, 1007910, 1008010, 1008110, 1008210, 1008310, 1008410,
       1008510, 1008610, 1008710, 1008810, 1008910, 1009010, 1009110,
       1009210, 1009310, 1009410, 1009510, 1009610, 1009710, 1009810,
       1009910, 1010210, 1010310, 1010410, 1010510, 1010610, 1010710,
       1010810, 1010910, 1011110, 1011210, 1011410, 1011510, 1011610,
       1011710, 1012210, 1012310, 1012410, 1012510, 1012810, 1012910,
       1013010, 1013110, 1013210, 1013310, 1013410, 1013510, 1013610,
       1013710, 1013810, 1013910, 1014010, 1014110, 1014210, 1014310,
       1014410, 1014510, 1014610, 1014710, 1014810, 1014910, 1015010,
       1015110, 1015210, 1015310, 1015810, 1015910, 1016010, 1016210,
       1016310, 1016410, 1016510, 1016610, 1016710, 1016810, 1016910,
       1017010, 1017110, 1017210, 1017310, 1017410, 1017510, 1017610,
       1017710, 1017810, 1017910, 1018010, 1018110, 1018210, 1018310,
       1018410, 1018510, 1018610, 1018710, 1018810, 1018910, 1019110,
       1019210, 1019310, 1019410, 1019510, 1019610, 1019710, 1019810,
       1019910, 1020010, 1020110, 1020210, 1020310], dtype=int64)

In [4]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d11_text_meta_2017_03_17.txt'
meta_data3 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data3.ID.unique()
print('ID number 3: ',len(meta_data3.ID.unique()))
meta_data3

ID number 3:  1521

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,1100313,5,N,11,73,66000.0,R22.324,22.215,32.791540,-117.207160,NaN,FR,1,CLAIREMONT DR,151,NaN,NaN,NaN
1,1100323,5,N,11,73,66000.0,R34.142,34.033,32.950106,-117.243571,NaN,FR,2,DEL MAR HTS RD,129,NaN,NaN,NaN
2,1100326,5,N,11,73,66000.0,R36.232,36.123,32.979357,-117.252719,NaN,FR,2,VIA DE LA VALLE,130,NaN,NaN,NaN
3,1100330,5,N,11,73,66000.0,R37.37,37.261,32.995494,-117.256350,NaN,FR,2,LOMAS SANTA FE,341,NaN,NaN,NaN
4,1100333,5,N,11,73,22678.0,R38.54,38.431,33.010364,-117.264530,NaN,FR,1,MANCHESTER AVE,133,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516,1126672,15,S,11,73,66000.0,M5.613,5.205,32.763403,-117.109432,0.149,ML,5,15 SB @ Adam Ave,21014,NaN,NaN,NaN
1517,1126696,15,N,11,73,NaN,M28.27,28.527,33.086775,-117.076401,1.097,HV,2,15 NB HVS/O Felicita,22713,NaN,NaN,NaN
1518,1126699,15,S,11,73,NaN,M28.269,28.516,33.086691,-117.076716,0.390,HV,2,15SB HV S/O Felicita,22712,NaN,NaN,NaN
1519,1126702,15,N,11,73,NaN,R29.499,29.756,33.100548,-117.090049,1.225,HV,2,15 NB HVN/O Felicita,22803,NaN,NaN,NaN
1520,1126722,15,S,11,73,NaN,R48.281,48.528,33.357354,-117.159131,3.315,ML,4,15 SB N/O Rte 76,4114,NaN,NaN,NaN

In [5]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d11_text_meta_2022_03_16.txt'
meta_data4 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data4.ID.unique()
print('ID number 4: ',len(meta_data4.ID.unique()))
meta_data4

ID number 4:  1440

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,1100313,5,N,11,73,66000.0,22.324,22.215,32.791540,-117.207160,NaN,FR,1,Clairemont Dr to 5 NB,1,NaN,NaN,NaN
1,1100323,5,N,11,73,66000.0,34.142,34.033,32.950106,-117.243571,NaN,FR,2,Del Mar Heights Rd to 5 NB,1,NaN,NaN,NaN
2,1100326,5,N,11,73,66000.0,36.230,36.121,32.979329,-117.252709,NaN,FR,2,Via de la Valle EB to 5 NB,1,NaN,NaN,NaN
3,1100330,5,N,11,73,72506.0,37.386,37.277,32.995723,-117.256395,NaN,FR,2,Lomas Santa Fe Dr EB to 5 NB,1,NaN,NaN,NaN
4,1100340,5,N,11,73,11194.0,47.165,47.056,33.123940,-117.322960,NaN,FR,2,Palomar Airport Rd to 5 NB,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,1127213,15,S,11,73,66000.0,14.991,15.238,32.903245,-117.116630,0.513,ML,6,Carroll Canyon Rd to 15 SB,1,NaN,NaN,NaN
1436,1127218,805,N,11,73,66000.0,21.332,21.183,32.817540,-117.159809,0.248,ML,4,Balboa Ave WB to 805 NB,1,NaN,NaN,NaN
1437,1127224,805,N,11,73,66000.0,17.300,17.151,32.767405,-117.128984,0.237,ML,4,805 NB S/O 8,1,NaN,NaN,NaN
1438,1127227,94,W,11,73,66000.0,1.570,0.154,32.713385,-117.145037,NaN,FR,2,5 NB connector from 94 WB,1,NaN,NaN,NaN
1439,1127252,805,N,11,73,66000.0,12.350,12.201,32.704271,-117.094872,0.883,ML,5,Imperial Ave to 805 NB (BOS),1,NaN,NaN,NaN

In [6]:
import numpy as np

# # 示例数据，实际数据可能会有不同
# arr1 = np.array(range(400000, 401610))
# arr2 = np.array(range(400500, 402000))
# arr3 = np.array(range(400900, 402500))
# arr4 = np.array(range(400000, 402000))

# 计算四个数组的交集
def find_common_elements(arr1, arr2, arr3, arr4):
    common12 = np.intersect1d(arr1, arr2)
    common123 = np.intersect1d(common12, arr3)
    common1234 = np.intersect1d(common123, arr4)
    return common1234

# 调用函数（在最终版本中取消注释）
common_elements = find_common_elements(meta_data4.ID.unique(), meta_data3.ID.unique(), meta_data2.ID.unique(), meta_data1.ID.unique())
print('common number 4: ',len(common_elements))
np.save('pems11_comm.npy',common_elements)
common_elements

common number 4:  521

array([1100313, 1100326, 1100330, 1100340, 1100348, 1100353, 1100363,
       1100369, 1100372, 1100377, 1100381, 1100384, 1100387, 1100390,
       1100393, 1100396, 1100407, 1100416, 1100434, 1100451, 1100454,
       1100461, 1100475, 1100478, 1100486, 1100491, 1100504, 1100524,
       1100530, 1100533, 1100534, 1100538, 1100542, 1100549, 1100553,
       1100560, 1100568, 1100571, 1100575, 1100578, 1100592, 1100595,
       1100598, 1100601, 1100604, 1100607, 1100697, 1100703, 1100706,
       1100711, 1100714, 1100729, 1100732, 1100737, 1100741, 1100745,
       1100750, 1100757, 1100776, 1100781, 1100787, 1100796, 1100802,
       1100805, 1100810, 1100813, 1100850, 1100860, 1100863, 1100865,
       1100868, 1107608, 1107611, 1108285, 1108286, 1108287, 1108288,
       1108289, 1108290, 1108291, 1108292, 1108293, 1108294, 1108295,
       1108296, 1108297, 1108299, 1108300, 1108301, 1108302, 1108303,
       1108304, 1108305, 1108306, 1108307, 1108308, 1108309, 1108310,
       1108311, 1108312, 1108313, 1108314, 1108315, 1108316, 1108317,
       1108318, 1108321, 1108323, 1108324, 1108325, 1108326, 1108327,
       1108328, 1108329, 1108330, 1108331, 1108332, 1108333, 1108334,
       1108341, 1108342, 1108343, 1108344, 1108345, 1108346, 1108347,
       1108348, 1108350, 1108351, 1108352, 1108353, 1108354, 1108355,
       1108356, 1108357, 1108358, 1108359, 1108366, 1108367, 1108369,
       1108371, 1108372, 1108373, 1108374, 1108375, 1108376, 1108377,
       1108378, 1108379, 1108380, 1108381, 1108385, 1108386, 1108387,
       1108388, 1108389, 1108390, 1108391, 1108392, 1108393, 1108394,
       1108398, 1108399, 1108400, 1108401, 1108402, 1108410, 1108411,
       1108413, 1108414, 1108415, 1108416, 1108417, 1108418, 1108419,
       1108420, 1108421, 1108422, 1108423, 1108424, 1108425, 1108426,
       1108429, 1108430, 1108432, 1108433, 1108434, 1108435, 1108436,
       1108437, 1108438, 1108439, 1108440, 1108441, 1108442, 1108444,
       1108445, 1108447, 1108448, 1108449, 1108450, 1108451, 1108452,
       1108453, 1108455, 1108459, 1108460, 1108461, 1108462, 1108463,
       1108464, 1108465, 1108466, 1108467, 1108468, 1108469, 1108471,
       1108472, 1108473, 1108474, 1108475, 1108476, 1108477, 1108478,
       1108479, 1108480, 1108483, 1108484, 1108485, 1108486, 1108487,
       1108488, 1108489, 1108490, 1108491, 1108492, 1108493, 1108494,
       1108495, 1108496, 1108497, 1108498, 1108499, 1108500, 1108501,
       1108502, 1108503, 1108504, 1108505, 1108506, 1108507, 1108508,
       1108509, 1108510, 1108511, 1108512, 1108513, 1108516, 1108517,
       1108518, 1108519, 1108520, 1108521, 1108522, 1108523, 1108524,
       1108525, 1108528, 1108529, 1108530, 1108531, 1108532, 1108534,
       1108535, 1108536, 1108537, 1108538, 1108539, 1108540, 1108541,
       1108542, 1108543, 1108544, 1108545, 1108546, 1108547, 1108548,
       1108549, 1108550, 1108553, 1108554, 1108555, 1108556, 1108557,
       1108558, 1108559, 1108560, 1108561, 1108562, 1108563, 1108564,
       1108565, 1108567, 1108568, 1108569, 1108570, 1108571, 1108572,
       1108573, 1108574, 1108577, 1108578, 1108579, 1108580, 1108581,
       1108585, 1108586, 1108587, 1108589, 1108590, 1108591, 1108592,
       1108593, 1108594, 1108595, 1108596, 1108597, 1108598, 1108599,
       1108600, 1108601, 1108602, 1108603, 1108604, 1108605, 1108606,
       1108607, 1108608, 1108609, 1108610, 1108611, 1108612, 1108613,
       1108614, 1108615, 1108616, 1108617, 1108618, 1108619, 1108620,
       1108621, 1108622, 1108623, 1108624, 1108625, 1108626, 1108627,
       1108628, 1108629, 1108630, 1108631, 1108632, 1108633, 1108634,
       1108635, 1108636, 1108637, 1108638, 1108639, 1108640, 1108642,
       1108643, 1108644, 1108645, 1108646, 1108649, 1108650, 1108651,
       1108652, 1108653, 1108654, 1108655, 1108656, 1108657, 1108658,
       1108659, 1108660, 1108661, 1108662, 1108663, 1108664, 1108665,
       1108666, 1108667, 1108668, 1108669, 1108670, 1108671, 1108672,
       1108673, 1108674, 1108675, 1108676, 1108677, 1108680, 1108681,
       1108682, 1108683, 1108684, 1108685, 1108686, 1108687, 1108688,
       1108689, 1108690, 1108691, 1108692, 1108693, 1108694, 1108697,
       1108698, 1108700, 1108701, 1108702, 1108703, 1108704, 1108705,
       1108706, 1108707, 1108708, 1108709, 1108710, 1108711, 1108712,
       1108713, 1108714, 1108715, 1108716, 1108717, 1108718, 1108719,
       1108720, 1108721, 1108722, 1108723, 1108724, 1108725, 1108726,
       1108727, 1108728, 1108729, 1108731, 1108732, 1108733, 1108734,
       1108735, 1108736, 1108737, 1108738, 1108747, 1108748, 1108749,
       1108750, 1108751, 1108752, 1108753, 1108754, 1108755, 1108756,
       1108757, 1108758, 1108759, 1108760, 1108761, 1108762, 1108763,
       1108764, 1108765, 1108766, 1108767, 1108768, 1108771, 1108772,
       1108773, 1108774, 1111509, 1111514, 1111525, 1111527, 1111530,
       1111531, 1111532, 1111534, 1111535, 1111539, 1111540, 1111541,
       1111542, 1111543, 1111544, 1111545, 1111546, 1111547, 1111548,
       1111549, 1111550, 1111552, 1111553, 1111554, 1111555, 1111556,
       1111557, 1111558, 1111559, 1111564, 1111565, 1111566, 1111567,
       1111568, 1111570, 1111572], dtype=int64)