In [2]:
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd

In [21]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d10_text_meta_2007_06_27.txt'
meta_data1 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data1

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,1000110,5,S,10,77,NaN,R21.407,466.899,37.881396,-121.278917,0.635,ML,3,N/O Mathews Rd,NaN,NaN,NaN,NaN
1,1000210,5,S,10,77,NaN,R20.8789,466.371,37.873818,-121.277900,0.478,ML,3,N/O Eldorado St,NaN,NaN,NaN,NaN
2,1000310,5,S,10,77,NaN,R20.45,465.942,37.867677,-121.278858,0.389,ML,3,N/O Eldorado St,NaN,NaN,NaN,NaN
3,1000410,5,S,10,77,NaN,R20.1,465.592,37.862729,-121.280287,0.397,ML,3,N/O Roth Rd,NaN,NaN,NaN,NaN
4,1000510,5,S,10,77,40704.0,R19.655,465.147,37.856421,-121.282010,0.474,ML,3,N/O Roth Rd,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,1014010,99,N,10,47,NaN,27.053,200.399,37.372336,-120.681330,2.620,ML,2,NB 99 S/O Sultana Dr/Liberty Ave,NaN,NaN,NaN,NaN
125,1014110,99,N,10,47,NaN,27.293,200.639,37.373765,-120.685228,0.248,ML,2,NB 99 N/O Sultana Dr/Liberty Ave,NaN,NaN,NaN,NaN
126,1014210,99,N,10,47,NaN,27.548,200.894,37.375304,-120.689426,2.001,ML,2,NB 99 N/O of Sultana Dr/Liberty,NaN,NaN,NaN,NaN
127,1014310,99,N,10,77,NaN,24.01,259.820,38.036925,-121.258235,2.993,ML,3,NB 99 Morada Lane,NaN,NaN,NaN,NaN
128,1014410,99,S,10,77,NaN,24.01,259.795,38.036919,-121.258444,5.000,ML,3,SB 99 Morada Lane,NaN,NaN,NaN,NaN

In [22]:
meta_data1.ID.unique()
print('ID number: ',len(meta_data1.ID.unique()))

ID number:  129

In [23]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d10_text_meta_2008_06_14.txt'
meta_data2 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data2.ID.unique()
print('ID number 2: ',len(meta_data2.ID.unique()))
meta_data2

ID number 2:  187

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,1000110,5,S,10,77,NaN,R21.407,466.899,37.881396,-121.278917,0.635,ML,3,N/O Mathews Rd,NaN,NaN,NaN,NaN
1,1000210,5,S,10,77,NaN,R20.8789,466.371,37.873818,-121.277900,0.478,ML,3,N/O Eldorado St,NaN,NaN,NaN,NaN
2,1000310,5,S,10,77,NaN,R20.45,465.942,37.867677,-121.278858,0.389,ML,3,N/O Eldorado St,NaN,NaN,NaN,NaN
3,1000410,5,S,10,77,NaN,R20.1,465.592,37.862729,-121.280287,0.397,ML,3,N/O Roth Rd,NaN,NaN,NaN,NaN
4,1000510,5,S,10,77,40704.0,R19.655,465.147,37.856421,-121.282010,0.474,ML,3,N/O Roth Rd,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,1019910,99,S,10,77,NaN,20.107,255.892,37.981269,-121.250083,0.394,ML,3,SB 99 S/O On Ramp from EB Waterl,NaN,NaN,NaN,NaN
183,1020010,99,S,10,77,NaN,19.365,255.150,37.970928,-121.246316,0.246,ML,3,SB 99 S/O On Ramp from WB Fremon,NaN,NaN,NaN,NaN
184,1020110,99,S,10,77,NaN,19.11,254.895,37.967421,-121.244816,1.084,ML,3,SB 99 S/O On Ramp from EB Fremon,NaN,NaN,NaN,NaN
185,1020210,108,E,10,109,48354.0,R0.00,18.679,37.955341,-120.406001,2.529,CH,1,"EB 108 Sonora, JCT 49",NaN,NaN,NaN,NaN
186,1020310,108,W,10,109,48354.0,R0.00,18.594,37.962350,-120.397400,4.950,CH,1,"WB 108 Sonora, JCT 49",NaN,NaN,NaN,NaN

In [24]:
meta_data2.ID.unique()

array([1000110, 1000210, 1000310, 1000410, 1000510, 1000610, 1000710,
       1000810, 1000910, 1001010, 1001110, 1001210, 1001310, 1001410,
       1001510, 1001610, 1001710, 1001810, 1001910, 1002010, 1002110,
       1002210, 1002310, 1002410, 1002510, 1002610, 1002710, 1002810,
       1002910, 1003010, 1003110, 1003210, 1003310, 1003410, 1003510,
       1003610, 1003710, 1003810, 1003910, 1004010, 1004110, 1004210,
       1004310, 1004410, 1004510, 1004610, 1004710, 1004810, 1004910,
       1005010, 1005110, 1005210, 1005310, 1005410, 1005510, 1005610,
       1005710, 1005810, 1005910, 1006010, 1006110, 1006210, 1006310,
       1006410, 1006510, 1006610, 1006710, 1006810, 1006910, 1007010,
       1007110, 1007210, 1007310, 1007410, 1007510, 1007610, 1007710,
       1007810, 1007910, 1008010, 1008110, 1008210, 1008310, 1008410,
       1008510, 1008610, 1008710, 1008810, 1008910, 1009010, 1009110,
       1009210, 1009310, 1009410, 1009510, 1009610, 1009710, 1009810,
       1009910, 1010210, 1010310, 1010410, 1010510, 1010610, 1010710,
       1010810, 1010910, 1011110, 1011210, 1011410, 1011510, 1011610,
       1011710, 1012210, 1012310, 1012410, 1012510, 1012810, 1012910,
       1013010, 1013110, 1013210, 1013310, 1013410, 1013510, 1013610,
       1013710, 1013810, 1013910, 1014010, 1014110, 1014210, 1014310,
       1014410, 1014510, 1014610, 1014710, 1014810, 1014910, 1015010,
       1015110, 1015210, 1015310, 1015810, 1015910, 1016010, 1016210,
       1016310, 1016410, 1016510, 1016610, 1016710, 1016810, 1016910,
       1017010, 1017110, 1017210, 1017310, 1017410, 1017510, 1017610,
       1017710, 1017810, 1017910, 1018010, 1018110, 1018210, 1018310,
       1018410, 1018510, 1018610, 1018710, 1018810, 1018910, 1019110,
       1019210, 1019310, 1019410, 1019510, 1019610, 1019710, 1019810,
       1019910, 1020010, 1020110, 1020210, 1020310], dtype=int64)

In [25]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d10_text_meta_2011_02_02.txt'
meta_data3 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data3.ID.unique()
print('ID number 3: ',len(meta_data3.ID.unique()))
meta_data3

ID number 3:  284

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,1000110,5,S,10,77,NaN,R21.407,466.899,37.881396,-121.278917,0.554,ML,3,N/O Mathews Rd,NaN,NaN,NaN,NaN
1,1000210,5,S,10,77,NaN,R20.8789,466.371,37.873818,-121.277900,0.478,ML,3,N/O Eldorado St,NaN,NaN,NaN,NaN
2,1000310,5,S,10,77,NaN,R20.45,465.942,37.867677,-121.278858,0.389,ML,3,N/O Eldorado St,NaN,NaN,NaN,NaN
3,1000410,5,S,10,77,NaN,R20.1,465.592,37.862729,-121.280287,0.397,ML,3,N/O Roth Rd,NaN,NaN,NaN,NaN
4,1000510,5,S,10,77,40704.0,R19.655,465.147,37.856421,-121.282010,0.474,ML,3,N/O Roth Rd,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,1031010,99,S,10,77,NaN,5.033,240.818,37.775984,-121.181080,3.441,ML,3,SB 99 Austin Road,NaN,NaN,NaN,NaN
280,1031110,580,E,10,1,NaN,R5.926,21.968,37.719259,-121.660269,2.688,ML,4,EB 580 W/O North Flynn Rd,NaN,NaN,NaN,NaN
281,1031210,580,E,10,1,NaN,R5.549,21.591,37.721223,-121.653850,0.436,ML,4,EB 580 E/O North Flynn Rd,NaN,NaN,NaN,NaN
282,1031310,580,E,10,1,NaN,R5.053,21.095,37.723926,-121.645462,2.748,ML,4,EB 580 E/O North Flynn Rd,NaN,NaN,NaN,NaN
283,1034610,99,N,10,47,46898.0,12.958,186.304,37.287085,-120.454782,1.958,ML,2,NB 99 S/O Off ramp to Childs Ave,NaN,NaN,NaN,NaN

In [26]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d10_text_meta_2024_03_08.txt'
meta_data4 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data4.ID.unique()
print('ID number 4: ',len(meta_data4.ID.unique()))
meta_data4

ID number 4:  1378

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,1000110,5,S,10,77,NaN,R21.407,466.899,37.881396,-121.278917,0.749,ML,3,N/O Mathews Rd,NaN,NaN,NaN,NaN
1,1000210,5,S,10,77,NaN,R20.8789,466.371,37.873818,-121.277900,0.478,ML,3,N/O Eldorado St,NaN,NaN,NaN,NaN
2,1000310,5,S,10,77,NaN,R20.45,465.942,37.867677,-121.278858,0.389,ML,3,N/O Eldorado St,NaN,NaN,NaN,NaN
3,1000410,5,S,10,77,NaN,R20.1,465.592,37.862729,-121.280287,0.397,ML,3,N/O Roth Rd,NaN,NaN,NaN,NaN
4,1000510,5,S,10,77,40704.0,R19.655,465.147,37.856421,-121.282010,0.474,ML,3,N/O Roth Rd,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,10159110,12,E,10,77,NaN,17.737,87.236,38.116123,-121.264102,0.134,ML,2,E/O Central Ave,NaN,NaN,NaN,NaN
1374,10159210,12,W,10,77,NaN,17.737,87.236,38.116227,-121.264119,0.134,ML,2,E/O Central Ave,NaN,NaN,NaN,NaN
1375,10159310,12,E,10,77,NaN,17.642,87.141,38.116022,-121.265711,2.500,ML,1,W/O Central Ave,NaN,NaN,NaN,NaN
1376,10159410,12,E,10,77,NaN,17.642,87.141,38.116022,-121.265711,0.048,ML,1,W/O Central Ave,NaN,NaN,NaN,NaN
1377,10159510,12,W,10,77,NaN,17.642,87.141,38.116125,-121.265726,2.548,ML,2,W/O Central Ave,NaN,NaN,NaN,NaN

In [27]:
import numpy as np

# # 示例数据，实际数据可能会有不同
# arr1 = np.array(range(400000, 401610))
# arr2 = np.array(range(400500, 402000))
# arr3 = np.array(range(400900, 402500))
# arr4 = np.array(range(400000, 402000))

# 计算四个数组的交集
def find_common_elements(arr1, arr2, arr3, arr4):
    common12 = np.intersect1d(arr1, arr2)
    common123 = np.intersect1d(common12, arr3)
    common1234 = np.intersect1d(common123, arr4)
    return common1234

# 调用函数（在最终版本中取消注释）
common_elements = find_common_elements(meta_data4.ID.unique(), meta_data3.ID.unique(), meta_data2.ID.unique(), meta_data1.ID.unique())
print('common number 4: ',len(common_elements))
np.save('pems10_comm.npy',common_elements)
common_elements

common number 4:  107

array([1000110, 1000210, 1000310, 1000410, 1000510, 1000610, 1000710,
       1000810, 1000910, 1001010, 1001110, 1001210, 1001310, 1001410,
       1001510, 1001610, 1001710, 1001810, 1001910, 1002010, 1002110,
       1002210, 1002310, 1002410, 1002510, 1002610, 1002710, 1002810,
       1002910, 1003010, 1003110, 1003210, 1003310, 1003410, 1003510,
       1003610, 1003710, 1003810, 1003910, 1004010, 1004110, 1004210,
       1004310, 1004410, 1004510, 1005010, 1005110, 1005210, 1005310,
       1005410, 1005510, 1005810, 1005910, 1006210, 1006310, 1006410,
       1006510, 1006610, 1006710, 1007010, 1007110, 1007510, 1007810,
       1007910, 1008010, 1008110, 1008210, 1008310, 1008410, 1008510,
       1008810, 1008910, 1009010, 1009110, 1009410, 1009510, 1009610,
       1009710, 1009810, 1009910, 1010210, 1010310, 1010610, 1010710,
       1010810, 1010910, 1011410, 1011510, 1011610, 1011710, 1012310,
       1012810, 1012910, 1013110, 1013210, 1013310, 1013410, 1013510,
       1013610, 1013710, 1013810, 1013910, 1014010, 1014110, 1014210,
       1014310, 1014410], dtype=int64)