In [2]:
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd

In [8]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d08_text_meta_2001_02_01.txt'
meta_data1 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data1

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,801230,10,W,8,71,48788.0,.58,47.345,34.081983,-117.700152,0.839,ML,4,MONTE VISTA,1.0,NaN,NaN,NaN
1,801231,10,W,8,71,48788.0,.578,47.343,34.081979,-117.700186,NaN,OR,2,MONTE VISTA,1.0,NaN,NaN,NaN
2,801232,10,E,8,71,48788.0,.77,47.535,34.082366,-117.696893,1.031,ML,4,MONTE VISTA,2.0,NaN,NaN,NaN
3,801233,10,E,8,71,48788.0,.801,47.566,34.082515,-117.696383,NaN,OR,2,MONTE VISTA,2.0,NaN,NaN,NaN
4,801234,10,W,8,71,48788.0,1.168,47.933,34.085065,-117.690768,0.828,ML,4,CENTRAL,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,806611,10,W,8,71,53896.0,8.228,54.993,34.067676,-117.574695,2.575,HV,1,HAVEN LOOP,26.0,NaN,NaN,NaN
258,806612,10,E,8,71,53896.0,8.22,54.985,34.067456,-117.574833,2.556,HV,1,HAVEN,27.0,NaN,NaN,NaN
259,806614,91,E,8,65,62000.0,13.064,50.408,33.906407,-117.456517,5.000,HV,1,TYLER,91.0,NaN,NaN,NaN
260,806616,91,W,8,65,62000.0,13.011,50.441,33.906107,-117.457413,4.289,HV,1,TYLER,90.0,NaN,NaN,NaN
261,806617,10,W,8,71,53896.0,7.788,54.553,34.067702,-117.582357,0.632,HV,1,.5 MI E/O ARCHIBALD,24.0,NaN,NaN,NaN

In [9]:
meta_data1.ID.unique()
print('ID number: ',len(meta_data1.ID.unique()))

ID number:  262

In [10]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d08_text_meta_2007_01_11.txt'
meta_data2 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data2.ID.unique()
print('ID number 2: ',len(meta_data2.ID.unique()))
meta_data2

ID number 2:  739

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,801230,10,W,8,71,48788.0,.58,47.345,34.081983,-117.700152,0.839,ML,4,MONTE VISTA,1.0,NaN,NaN,NaN
1,801231,10,W,8,71,48788.0,.578,47.343,34.081979,-117.700186,NaN,OR,2,MONTE VISTA,1.0,NaN,NaN,NaN
2,801232,10,E,8,71,48788.0,.77,47.535,34.082366,-117.696893,1.031,ML,4,MONTE VISTA,2.0,NaN,NaN,NaN
3,801233,10,E,8,71,48788.0,.801,47.566,34.082515,-117.696383,NaN,OR,2,MONTE VISTA,2.0,NaN,NaN,NaN
4,801234,10,W,8,71,48788.0,1.168,47.933,34.085065,-117.690768,0.666,ML,4,CENTRAL,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,812822,71,N,8,71,13214.0,R6.348,11.298,33.950369,-117.676045,0.648,HV,1,NB ON PINE AVE,NaN,NaN,NaN,NaN
735,812830,71,S,8,71,13214.0,R6.71,11.660,33.945315,-117.672990,NaN,OR,1,SB ON PINE AVE,NaN,NaN,NaN,NaN
736,812831,71,S,8,71,13214.0,R6.71,11.660,33.945315,-117.672990,1.213,ML,2,SB ON PINE AVE,NaN,NaN,NaN,NaN
737,812832,71,S,8,71,13214.0,R6.71,11.660,33.945315,-117.672990,2.430,HV,1,SB ON PINE AVE,NaN,NaN,NaN,NaN
738,812840,71,S,8,71,NaN,R.379,5.329,34.016341,-117.740864,0.688,HV,1,Riverside Dr IDS,NaN,NaN,NaN,NaN

In [11]:
meta_data2.ID.unique()

array([801230, 801231, 801232, 801233, 801234, 801236, 801237, 801238,
       801239, 801241, 801242, 801243, 801244, 801245, 801248, 801249,
       801250, 801252, 801255, 801259, 801260, 801261, 801262, 801265,
       801266, 801267, 801268, 801269, 801270, 801271, 801272, 801273,
       801274, 801275, 801276, 801277, 801279, 801281, 801282, 801283,
       801284, 801285, 801286, 801287, 801288, 801290, 801292, 801320,
       801321, 801323, 801324, 801326, 801327, 801329, 801331, 801335,
       801337, 801339, 801340, 801342, 801343, 801345, 801346, 801348,
       801349, 801351, 801352, 801354, 801355, 801357, 801358, 801360,
       801361, 801363, 801364, 801366, 801367, 801369, 801370, 801372,
       801373, 801375, 801376, 801378, 801379, 801381, 801383, 801385,
       801387, 801389, 801390, 801392, 801393, 801394, 801396, 801397,
       801399, 801400, 801401, 801402, 801403, 801404, 801406, 801407,
       801409, 801410, 801412, 801415, 801416, 801418, 801421, 801422,
       801423, 801425, 801428, 801429, 801431, 801432, 801434, 801435,
       801436, 801437, 801438, 801442, 801443, 801445, 801446, 801448,
       801449, 801450, 801452, 801455, 801456, 801457, 801458, 801460,
       801464, 801465, 801469, 801470, 801472, 801473, 801474, 801476,
       801477, 801478, 801480, 801481, 801482, 801484, 801485, 801486,
       801487, 801488, 801489, 801490, 801491, 801492, 801493, 801495,
       801496, 801497, 801498, 801499, 801500, 801501, 801502, 801503,
       801504, 801505, 801507, 801508, 801509, 801511, 801513, 801514,
       801515, 801517, 801519, 801520, 801522, 801523, 801527, 801529,
       801530, 801532, 801533, 801535, 801537, 801538, 801540, 801541,
       801543, 801545, 801546, 801548, 801549, 801551, 801552, 801554,
       801559, 801561, 801562, 801564, 801565, 801567, 801595, 801597,
       805627, 805629, 805631, 805633, 805941, 805942, 805943, 805944,
       805945, 805946, 805947, 805948, 805950, 805951, 805952, 805953,
       805954, 805955, 805956, 806019, 806027, 806030, 806033, 806039,
       806040, 806041, 806048, 806068, 806108, 806176, 806191, 806218,
       806224, 806266, 806288, 806348, 806367, 806370, 806388, 806391,
       806394, 806397, 806400, 806403, 806406, 806425, 806428, 806447,
       806467, 806470, 806473, 806476, 806479, 806489, 806510, 806525,
       806574, 806575, 806576, 806577, 806578, 806579, 806580, 806581,
       806584, 806585, 806586, 806606, 806611, 806612, 806614, 806616,
       806617, 806674, 806675, 806676, 806751, 806765, 806773, 806774,
       806890, 806933, 806934, 806945, 806952, 806953, 806971, 806972,
       806991, 806992, 807011, 807025, 807228, 807246, 807270, 807271,
       807272, 807286, 807306, 807345, 807365, 807491, 807492, 807790,
       807797, 807804, 807811, 807818, 807850, 807897, 807898, 808131,
       808191, 808210, 808232, 808254, 808273, 808292, 808325, 808354,
       808372, 808392, 808412, 808452, 808474, 808512, 808574, 808584,
       808611, 808616, 808622, 808631, 808670, 808690, 808808, 808889,
       808909, 808916, 808945, 808969, 808988, 808993, 808994, 808998,
       809011, 809012, 809021, 809022, 809036, 809037, 809038, 809047,
       809048, 809070, 809071, 809098, 809099, 809100, 809115, 809116,
       809117, 809125, 809126, 809171, 809187, 809188, 809189, 809201,
       809202, 809203, 809210, 809236, 809237, 809238, 809250, 809251,
       809252, 809258, 809259, 809271, 809272, 809273, 809285, 809286,
       809287, 809293, 809294, 809300, 809301, 809307, 809308, 809320,
       809321, 809322, 809334, 809335, 809336, 809342, 809343, 809349,
       809350, 809477, 809485, 809497, 809498, 809629, 809912, 809925,
       809952, 809953, 809960, 809961, 809968, 809969, 809977, 809978,
       809986, 809987, 810110, 810117, 810124, 810131, 810142, 810143,
       810152, 810165, 810190, 810210, 810230, 810244, 810245, 810258,
       810259, 810266, 810273, 810280, 810315, 810316, 810345, 810369,
       810370, 810371, 810372, 810373, 810379, 810380, 810381, 810382,
       810467, 810483, 810486, 810678, 810712, 810728, 810731, 810751,
       810758, 810764, 810770, 810776, 810782, 810789, 810810, 810819,
       810829, 810835, 810862, 810869, 810875, 810881, 810887, 810893,
       810910, 810916, 810921, 810926, 810931, 810936, 810941, 810946,
       810951, 810957, 810960, 810965, 810971, 810977, 810980, 810984,
       810988, 810990, 810992, 810997, 811003, 811005, 811007, 811013,
       811019, 811024, 811030, 811035, 811041, 811047, 811053, 811057,
       811061, 811067, 811072, 811077, 811082, 811087, 811091, 811095,
       811100, 811104, 811108, 811113, 811117, 811121, 811126, 811132,
       811137, 811143, 811148, 811156, 811162, 811167, 811172, 811178,
       811183, 811188, 811193, 811198, 811203, 811208, 811213, 811218,
       811224, 811228, 811232, 811236, 811240, 811246, 811253, 811258,
       811263, 811268, 811274, 811278, 811283, 811288, 811293, 811298,
       811303, 811309, 811314, 811316, 811325, 811332, 811334, 811336,
       811338, 811340, 811345, 811350, 811352, 811354, 811366, 811389,
       811394, 811396, 811400, 811404, 811408, 811412, 811525, 811527,
       811529, 811531, 811533, 811535, 811537, 811539, 811588, 811609,
       811613, 811627, 811630, 811634, 811637, 811640, 811643, 811646,
       811648, 811667, 811668, 811670, 811675, 811680, 811683, 811686,
       811689, 811692, 811696, 811698, 811701, 811706, 811708, 811712,
       811715, 811718, 811722, 811725, 811747, 811750, 811753, 811756,
       811760, 811763, 811767, 811770, 811773, 811775, 811778, 811781,
       811784, 811787, 811790, 811793, 811796, 811800, 811803, 811806,
       811809, 811812, 811814, 811816, 811818, 811820, 811822, 811824,
       811826, 811830, 811834, 811837, 811840, 811843, 811846, 811849,
       811854, 811857, 811860, 811864, 811873, 811876, 811879, 811887,
       811907, 811910, 811913, 811926, 811928, 811930, 811933, 811936,
       811940, 811943, 811947, 811956, 811959, 811962, 811964, 811966,
       811968, 812586, 812587, 812588, 812590, 812600, 812601, 812602,
       812608, 812609, 812610, 812647, 812648, 812649, 812650, 812651,
       812652, 812653, 812654, 812655, 812656, 812657, 812658, 812659,
       812660, 812689, 812690, 812703, 812704, 812705, 812716, 812717,
       812724, 812725, 812730, 812731, 812744, 812745, 812764, 812765,
       812775, 812776, 812777, 812787, 812788, 812789, 812799, 812800,
       812801, 812810, 812811, 812812, 812820, 812821, 812822, 812830,
       812831, 812832, 812840], dtype=int64)

In [12]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d08_text_meta_2016_12_30.txt'
meta_data3 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data3.ID.unique()
print('ID number 3: ',len(meta_data3.ID.unique()))
meta_data3

ID number 3:  2023

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,801230,10,W,8,71,48788.0,.591,47.356,34.082004,-117.699964,0.845,ML,4,MONTE VISTA AVE,1.0,NaN,NaN,NaN
1,801231,10,W,8,71,48788.0,.591,47.356,34.082004,-117.699964,NaN,OR,2,MONTE VISTA AVE,1.0,NaN,NaN,NaN
2,801232,10,E,8,71,48788.0,.721,47.486,34.082149,-117.697705,0.996,ML,4,MONTE VISTA AVE,2.0,NaN,NaN,NaN
3,801233,10,E,8,71,48788.0,.721,47.486,34.082149,-117.697705,NaN,OR,2,MONTE VISTA AVE,2.0,NaN,NaN,NaN
4,801234,10,W,8,71,48788.0,1.168,47.933,34.085065,-117.690768,0.658,ML,4,CENTRAL AVE,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018,826468,91,E,8,65,62000.0,18.995,56.339,33.960023,-117.377762,0.688,HV,1,IVY OC 100' E/O,106.0,NaN,NaN,NaN
2019,826469,91,W,8,65,62000.0,18.995,56.425,33.960110,-117.377945,0.688,HV,1,IVY OC 100' E/O,106.0,NaN,NaN,NaN
2020,826496,15,S,8,71,59451.0,6.785,113.549,34.121708,-117.513831,0.327,ML,4,Baseline Road,NaN,NaN,NaN,NaN
2021,826497,15,S,8,71,59451.0,6.785,113.549,34.121708,-117.513831,NaN,OR,2,Baseline Road,NaN,NaN,NaN,NaN
2022,826498,15,S,8,71,59451.0,6.785,113.549,34.121708,-117.513831,NaN,FR,2,Baseline Road,NaN,NaN,NaN,NaN

In [13]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d08_text_meta_2024_03_20.txt'
meta_data4 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data4.ID.unique()
print('ID number 4: ',len(meta_data4.ID.unique()))
meta_data4

ID number 4:  2053

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,801230,10,W,8,71,48788.0,0.591,47.356,34.082004,-117.699964,0.845,ML,4,MONTE VISTA AVE,1,NaN,NaN,NaN
1,801231,10,W,8,71,48788.0,0.591,47.356,34.082004,-117.699964,NaN,OR,2,MONTE VISTA AVE,1,NaN,NaN,NaN
2,801232,10,E,8,71,48788.0,0.721,47.486,34.082149,-117.697705,0.996,ML,4,MONTE VISTA AVE,1,NaN,NaN,NaN
3,801233,10,E,8,71,48788.0,0.721,47.486,34.082149,-117.697705,NaN,OR,2,MONTE VISTA AVE,1,NaN,NaN,NaN
4,801234,10,W,8,71,48788.0,1.168,47.933,34.085065,-117.690768,0.660,ML,4,CENTRAL AVE,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2048,828884,210,W,8,71,NaN,29.299,82.232,34.121550,-117.200570,NaN,OR,3,Baseline WB ON,1,NaN,NaN,NaN
2049,828885,210,W,8,71,NaN,29.299,82.232,34.121550,-117.200570,NaN,FR,2,Baseline WB ON,1,NaN,NaN,NaN
2050,828901,15,N,8,71,59451.0,5.500,112.274,34.108165,-117.529668,0.150,ML,4,Foothill ONRAMP,1,NaN,NaN,NaN
2051,828902,15,N,8,71,59451.0,5.500,112.274,34.108165,-117.529668,0.250,ML,4,Foothill ONRAMP,1,NaN,NaN,NaN
2052,828903,15,N,8,71,59451.0,5.500,112.274,34.108165,-117.529668,NaN,OR,2,Foothill ONRAMP,1,NaN,NaN,NaN

In [14]:
import numpy as np

# # 示例数据，实际数据可能会有不同
# arr1 = np.array(range(400000, 401610))
# arr2 = np.array(range(400500, 402000))
# arr3 = np.array(range(400900, 402500))
# arr4 = np.array(range(400000, 402000))

# 计算四个数组的交集
def find_common_elements(arr1, arr2, arr3, arr4):
    common12 = np.intersect1d(arr1, arr2)
    common123 = np.intersect1d(common12, arr3)
    common1234 = np.intersect1d(common123, arr4)
    return common1234

# 调用函数（在最终版本中取消注释）
common_elements = find_common_elements(meta_data4.ID.unique(), meta_data3.ID.unique(), meta_data2.ID.unique(), meta_data1.ID.unique())
print('common number 4: ',len(common_elements))
np.save('pems08_comm.npy',common_elements)
common_elements

common number 4:  212

array([801230, 801231, 801232, 801233, 801234, 801236, 801237, 801238,
       801239, 801241, 801242, 801243, 801244, 801245, 801248, 801249,
       801250, 801252, 801255, 801259, 801260, 801261, 801262, 801265,
       801266, 801267, 801268, 801269, 801270, 801271, 801273, 801275,
       801277, 801279, 801281, 801282, 801283, 801284, 801285, 801286,
       801287, 801288, 801320, 801321, 801323, 801324, 801326, 801327,
       801329, 801331, 801335, 801337, 801339, 801340, 801342, 801343,
       801345, 801346, 801348, 801349, 801351, 801352, 801354, 801355,
       801357, 801358, 801360, 801361, 801363, 801364, 801366, 801367,
       801369, 801370, 801372, 801373, 801375, 801376, 801378, 801379,
       801381, 801383, 801385, 801387, 801389, 801390, 801392, 801418,
       801421, 801422, 801425, 801428, 801429, 801431, 801434, 801435,
       801437, 801445, 801448, 801449, 801452, 801456, 801469, 801472,
       801473, 801476, 801481, 801484, 801485, 801487, 801488, 801489,
       801490, 801492, 801493, 801495, 801496, 801498, 801499, 801501,
       801502, 801504, 801505, 801507, 801508, 801509, 801511, 801513,
       801514, 801515, 801517, 801519, 801520, 801522, 801527, 801529,
       801530, 801532, 801535, 801537, 801538, 801540, 801543, 801545,
       801546, 801548, 801549, 801551, 801552, 801554, 801559, 801561,
       801562, 801564, 801565, 801567, 801595, 801597, 805627, 805629,
       805631, 805633, 805942, 805943, 805945, 805946, 805947, 805956,
       806019, 806027, 806030, 806033, 806039, 806048, 806068, 806108,
       806224, 806266, 806288, 806367, 806370, 806391, 806394, 806400,
       806403, 806406, 806425, 806447, 806467, 806470, 806473, 806476,
       806479, 806489, 806510, 806525, 806574, 806576, 806577, 806578,
       806579, 806580, 806581, 806584, 806585, 806586, 806606, 806611,
       806612, 806614, 806616, 806617], dtype=int64)