In [2]:
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd

In [1]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d03_text_meta_2024_04_25.txt'
meta_data1 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data1

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,308511,50,E,3,17,NaN,31.627,60.162,38.761062,-120.569835,3.134,ML,2,Sly Park Rd,1,NaN,NaN,NaN
1,308512,50,W,3,17,NaN,31.627,60.166,38.761182,-120.569866,3.995,ML,2,Sly Park Rd,1,NaN,NaN,NaN
2,311831,5,S,3,67,NaN,10.896,506.189,38.409782,-121.484120,NaN,OR,1,Elk Grove Blvd,1,NaN,NaN,NaN
3,311832,5,S,3,67,NaN,10.896,506.189,38.409782,-121.484120,NaN,FR,1,Elk Grove Blvd,1,NaN,NaN,NaN
4,311844,5,N,3,67,NaN,11.08,506.373,38.412421,-121.484289,NaN,OR,2,Elk Grove Blvd 5NB Slip,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804,3423116,16,E,3,113,NaN,31.662,38.915,38.680175,-121.955925,5.000,ML,1,16EB at 505NB JCT OS,1,NaN,NaN,NaN
1805,3900021,50,E,3,67,NaN,12.46,18.130,38.608682,-121.270954,0.007,ML,3,Sunrise to 50 EB ML Virtual,1,NaN,NaN,NaN
1806,3900022,50,E,3,67,NaN,12.46,18.130,38.608682,-121.270954,0.000,HV,1,Sunrise to 50 EB Virtual HOV,1,NaN,NaN,NaN
1807,3900023,50,W,3,67,NaN,12.46,18.130,38.608894,-121.271067,0.019,ML,3,Sunrise to 50 EB - OS Virtual,1,NaN,NaN,NaN
1808,3900024,50,W,3,67,NaN,12.46,18.130,38.608894,-121.271067,0.554,HV,1,Sunrise to 50 EB HOV - OS Virtua,1,NaN,NaN,NaN

In [2]:
meta_data1.ID.unique()
print('ID number: ',len(meta_data1.ID.unique()))

ID number:  1809

In [3]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d03_text_meta_2017_03_17.txt'
meta_data2 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data2.ID.unique()
print('ID number 2: ',len(meta_data2.ID.unique()))
meta_data2

ID number 2:  1277

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,311831,5,S,3,67,NaN,10.859,506.152,38.409253,-121.484009,NaN,OR,1,Elk Grove Blvd,TA-70,NaN,NaN,NaN
1,311832,5,S,3,67,NaN,11.083,506.376,38.412460,-121.484680,NaN,FR,1,Elk Grove Blvd,TA-70,NaN,NaN,NaN
2,311844,5,N,3,67,NaN,11.13,506.423,38.413138,-121.484436,NaN,OR,3,WB Elk Grove Blvd,TA-72,NaN,NaN,NaN
3,311845,5,N,3,67,NaN,10.644,505.937,38.406175,-121.483002,NaN,FR,1,Elk Grove Blvd,TA-72,NaN,NaN,NaN
4,311847,5,N,3,67,NaN,12.128,507.421,38.427441,-121.487404,NaN,OR,3,Laguna Blvd,TA-74,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1272,320037,65,S,3,61,NaN,R10.63,70.383,38.832942,-121.300152,NaN,OR,1,Whitney Ranch,NaN,NaN,NaN,NaN
1273,320045,65,N,3,61,NaN,R10.687,70.449,38.833934,-121.299777,0.712,ML,2,Whitney Ranch,NaN,NaN,NaN,NaN
1274,320046,65,N,3,61,NaN,R10.687,70.449,38.833934,-121.299777,NaN,OR,1,Whitney Ranch,NaN,NaN,NaN,NaN
1275,320047,65,N,3,61,NaN,R10.2,69.962,38.826882,-121.299855,NaN,FR,2,Whitney Ranch,NaN,NaN,NaN,NaN
1276,320053,50,E,3,67,NaN,16.901,22.571,38.639556,-121.198795,NaN,OR,2,Folsom Blvd,NaN,NaN,NaN,NaN

In [4]:
meta_data2.ID.unique()

array([311831, 311832, 311844, ..., 320046, 320047, 320053], dtype=int64)

In [5]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d03_text_meta_2011_02_11.txt'
meta_data3 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data3.ID.unique()
print('ID number 3: ',len(meta_data3.ID.unique()))
meta_data3

ID number 3:  1027

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,311831,5,S,3,67,NaN,10.859,506.152,38.409253,-121.484009,NaN,OR,1,Elk Grove Blvd,TA-70,NaN,NaN,NaN
1,311832,5,S,3,67,NaN,11.083,506.376,38.412460,-121.484680,NaN,FR,1,Elk Grove Blvd,TA-70,NaN,NaN,NaN
2,311844,5,N,3,67,NaN,11.13,506.423,38.413138,-121.484436,NaN,OR,2,WB Elk Grove Blvd,TA-72,NaN,NaN,NaN
3,311845,5,N,3,67,NaN,10.644,505.937,38.406175,-121.483002,NaN,FR,1,Elk Grove Blvd,TA-72,NaN,NaN,NaN
4,311847,5,N,3,67,NaN,12.18,507.473,38.428186,-121.487563,NaN,OR,3,Laguna Blvd,TA-74,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1022,318432,65,S,3,61,NaN,R9.647,69.354,38.818170,-121.300308,0.627,ML,2,WB Sunset Blvd,NaN,NaN,NaN,NaN
1023,318433,65,S,3,61,NaN,R9.537,69.244,38.816571,-121.300340,NaN,OR,2,WB Sunset Blvd,NaN,NaN,NaN,NaN
1024,318434,65,S,3,61,NaN,R9.834,69.541,38.820883,-121.300302,NaN,FR,2,WB Sunset Blvd,NaN,NaN,NaN,NaN
1025,318437,80,W,3,67,NaN,17.7,101.200,38.718633,-121.297486,0.650,HV,1,Auburn Oaks Ct.,R125,NaN,NaN,NaN
1026,318443,5,S,3,67,64000.0,18.705,513.998,38.516743,-121.522125,0.835,ML,4,43rd Ave,NaN,NaN,NaN,NaN

In [9]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d03_text_meta_2001_03_01.txt'
meta_data4 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data4.ID.unique()
print('ID number 4: ',len(meta_data4.ID.unique()))
meta_data4

ID number 4:  174

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,311831,5,S,3,67,NaN,10.89,506.183,38.409697,-121.484102,NaN,OR,2,Elk Grove Blvd,TA-70,NaN,NaN,NaN
1,311832,5,S,3,67,NaN,10.89,506.183,38.409697,-121.484102,NaN,FR,1,Elk Grove Blvd,TA-70,NaN,NaN,NaN
2,311844,5,N,3,67,NaN,11.09,506.383,38.412564,-121.484319,NaN,OR,2,Elk Grove Blvd,TA-72,NaN,NaN,NaN
3,311845,5,N,3,67,NaN,11.09,506.383,38.412564,-121.484319,NaN,FR,1,Elk Grove Blvd,TA-72,NaN,NaN,NaN
4,311847,5,N,3,67,NaN,12.18,507.473,38.428186,-121.487563,NaN,OR,3,Laguna Blvd,TA-74,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,313204,51,S,3,67,64000.0,4.74,4.722,38.611244,-121.426816,1.05,ML,4,WB El Camino,TA-43,NaN,NaN,NaN
170,313329,5,S,3,67,64000.0,15.05,510.343,38.468867,-121.498267,4.58,ML,3,S. River Bend,TA-200A,NaN,NaN,NaN
171,313339,50,W,3,67,NaN,16,21.670,38.632947,-121.213344,0.15,ML,3,Folsom Blvd.,TA-151,NaN,NaN,NaN
172,313344,50,W,3,67,NaN,16.1,21.770,38.633768,-121.211771,0.06,ML,2,SB Prairie City,TA-152,NaN,NaN,NaN
173,313349,50,W,3,67,NaN,16.12,21.790,38.633932,-121.211456,2.51,ML,2,NB Prairie City,TA-153,NaN,NaN,NaN

In [10]:
import numpy as np

# # 示例数据，实际数据可能会有不同
# arr1 = np.array(range(400000, 401610))
# arr2 = np.array(range(400500, 402000))
# arr3 = np.array(range(400900, 402500))
# arr4 = np.array(range(400000, 402000))

# 计算四个数组的交集
def find_common_elements(arr1, arr2, arr3, arr4):
    common12 = np.intersect1d(arr1, arr2)
    common123 = np.intersect1d(common12, arr3)
    common1234 = np.intersect1d(common123, arr4)
    return common1234

# 调用函数（在最终版本中取消注释）
common_elements = find_common_elements(meta_data4.ID.unique(), meta_data3.ID.unique(), meta_data2.ID.unique(), meta_data1.ID.unique())
print('common number 4: ',len(common_elements))
np.save('pems03_comm.npy',common_elements)
common_elements

common number 4:  151

array([311831, 311832, 311844, 311847, 311864, 311903, 311930, 311973,
       311974, 312010, 312011, 312012, 312098, 312099, 312103, 312104,
       312105, 312108, 312132, 312133, 312134, 312139, 312141, 312142,
       312188, 312189, 312236, 312247, 312264, 312265, 312326, 312327,
       312343, 312344, 312345, 312346, 312347, 312382, 312383, 312386,
       312387, 312388, 312420, 312421, 312422, 312423, 312424, 312425,
       312426, 312427, 312439, 312440, 312513, 312514, 312515, 312517,
       312518, 312519, 312520, 312521, 312523, 312524, 312525, 312526,
       312527, 312528, 312529, 312562, 312563, 312564, 312566, 312569,
       312648, 312649, 312650, 312651, 312652, 312689, 312692, 312694,
       312706, 312709, 312745, 312746, 312757, 312758, 312771, 312772,
       312773, 312782, 312804, 312805, 312807, 312808, 312857, 312865,
       312895, 312896, 312897, 312898, 312899, 312900, 312901, 312940,
       312941, 312942, 312943, 312944, 312945, 312946, 312947, 313000,
       313001, 313002, 313003, 313004, 313005, 313006, 313007, 313010,
       313011, 313012, 313035, 313036, 313038, 313054, 313055, 313056,
       313080, 313081, 313082, 313083, 313084, 313111, 313112, 313113,
       313114, 313115, 313132, 313133, 313144, 313166, 313172, 313178,
       313184, 313190, 313197, 313204, 313339, 313344, 313349],
      dtype=int64)

In [2]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d03_text_meta_2024_04_25.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems03: ',len(meta_data.ID.unique()))
meta_data

ID number pems03:  1809

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,308511,50,E,3,17,NaN,31.627,60.162,38.761062,-120.569835,3.134,ML,2,Sly Park Rd,1,NaN,NaN,NaN
1,308512,50,W,3,17,NaN,31.627,60.166,38.761182,-120.569866,3.995,ML,2,Sly Park Rd,1,NaN,NaN,NaN
2,311831,5,S,3,67,NaN,10.896,506.189,38.409782,-121.484120,NaN,OR,1,Elk Grove Blvd,1,NaN,NaN,NaN
3,311832,5,S,3,67,NaN,10.896,506.189,38.409782,-121.484120,NaN,FR,1,Elk Grove Blvd,1,NaN,NaN,NaN
4,311844,5,N,3,67,NaN,11.08,506.373,38.412421,-121.484289,NaN,OR,2,Elk Grove Blvd 5NB Slip,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804,3423116,16,E,3,113,NaN,31.662,38.915,38.680175,-121.955925,5.000,ML,1,16EB at 505NB JCT OS,1,NaN,NaN,NaN
1805,3900021,50,E,3,67,NaN,12.46,18.130,38.608682,-121.270954,0.007,ML,3,Sunrise to 50 EB ML Virtual,1,NaN,NaN,NaN
1806,3900022,50,E,3,67,NaN,12.46,18.130,38.608682,-121.270954,0.000,HV,1,Sunrise to 50 EB Virtual HOV,1,NaN,NaN,NaN
1807,3900023,50,W,3,67,NaN,12.46,18.130,38.608894,-121.271067,0.019,ML,3,Sunrise to 50 EB - OS Virtual,1,NaN,NaN,NaN
1808,3900024,50,W,3,67,NaN,12.46,18.130,38.608894,-121.271067,0.554,HV,1,Sunrise to 50 EB HOV - OS Virtua,1,NaN,NaN,NaN

In [3]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d05_text_meta_2024_01_19.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems05: ',len(meta_data.ID.unique()))
meta_data

ID number pems05:  573

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,500010011,1,N,5,53,NaN,72.33,322.865,36.535850,-121.912881,2.713,ML,1,CARMEL RIV BRIDGE HWY 1 NB VDS M,1,NaN,NaN,NaN
1,500010012,1,S,5,53,NaN,72.331,322.800,36.535860,-121.912870,2.714,ML,1,CARMEL RIV BRIDGE HWY 1 NB VDS M,1,NaN,NaN,NaN
2,500010021,1,N,5,53,NaN,72.757,323.292,36.541075,-121.908778,0.697,ML,2,CARMEL VALLEY RD HWY 1 NB VDS ML,1,NaN,NaN,NaN
3,500010022,1,S,5,53,NaN,72.758,323.227,36.541106,-121.908820,0.698,ML,1,CARMEL VALLEY RD HWY 1 NB VDS ML,1,NaN,NaN,NaN
4,500010031,1,N,5,53,NaN,73.726,324.261,36.554647,-121.910926,0.831,ML,2,OCEAN AVE HWY 1 NB VDS MLNB NB,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,506800131,68,E,5,53,NaN,17.257,17.461,36.625285,-121.680718,0.814,ML,2,RESERVATION & RIVER RD HWY 68 EB,1,NaN,NaN,NaN
569,506800132,68,E,5,53,NaN,17.258,17.462,36.625294,-121.680703,0.483,ML,2,RESERVATION & RIVER RD HWY 68 EB,1,NaN,NaN,NaN
570,506800141,68,E,5,53,NaN,18.224,18.428,36.634694,-121.668155,0.483,ML,2,SPRECKELS BLVD HWY 68 EB VDS MLE,1,NaN,NaN,NaN
571,506800142,68,E,5,53,NaN,18.225,18.429,36.634707,-121.668147,2.500,ML,2,SPRECKELS BLVD HWY 68 EB VDS MLW,1,NaN,NaN,NaN
572,506800143,68,E,5,53,NaN,18.226,18.430,36.634719,-121.668140,NaN,FR,1,SPRECKELS BLVD HWY 68 EB VDS OFW,1,NaN,NaN,NaN

In [4]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d06_text_meta_2023_08_08.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems06: ',len(meta_data.ID.unique()))
meta_data

ID number pems06:  705

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,601100,180,W,6,19,27000.0,60.935,37.399,36.754715,-119.735475,0.205,ML,1,CHESTNUT LP 180 WB,1,NaN,NaN,NaN
1,601101,41,S,6,39,NaN,1.000,136.002,36.890711,-119.793037,0.436,ML,2,VALLEY CHILDREN BLVD DT 41 SB,1,NaN,NaN,NaN
2,601102,41,S,6,39,NaN,1.170,136.172,36.893199,-119.792958,2.585,ML,2,VALLEY CHILDREN BLVD LP 41 SB,1,NaN,NaN,NaN
3,601103,180,E,6,19,NaN,54.595,31.058,36.738176,-119.845004,0.460,ML,2,MARKS AVE LP 180 EB,1,NaN,NaN,NaN
4,601105,99,N,6,19,NaN,12.550,124.890,36.642613,-119.701748,0.620,ML,3,CLOVIS AVE 99 NB,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,629991,5,S,6,29,NaN,68.011,273.063,35.559093,-119.598582,2.668,ML,2,5.4 MI NO LERDO HWY (AT CANAL) S,1,NaN,NaN,NaN
701,629992,99,N,6,29,NaN,23.826,24.648,35.357102,-119.039342,0.815,ML,4,N OF RTE 58 OC AT SB OFF-RAMP,1,NaN,NaN,NaN
702,629999,5,S,6,29,NaN,37.304,242.356,35.250749,-119.207364,2.817,ML,2,S OF RTE 119 SB,1,NaN,NaN,NaN
703,639980,99,S,6,29,NaN,22.188,23.010,35.333330,-119.039727,NaN,FR,1,S OF PLANZ RD,1,NaN,NaN,NaN
704,639992,99,N,6,29,NaN,24.590,25.412,35.367945,-119.041566,NaN,OR,1,N OF RTE 58 OC AT SB OFF-RAMP,1,NaN,NaN,NaN

In [5]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d07_text_meta_2023_12_22.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems07: ',len(meta_data.ID.unique()))
meta_data

ID number pems06:  4888

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,715898,5,N,7,37,40032.0,.68,117.313,33.880069,-118.021261,0.828,ML,3,PHOEBE,2029,NaN,NaN,NaN
1,715900,5,S,7,37,40032.0,1.06,117.630,33.882892,-118.026822,NaN,OR,1,VALLEY VIEW,3255,NaN,NaN,NaN
2,715901,5,N,7,37,40032.0,1.11,117.743,33.883400,-118.027451,NaN,OR,1,VALLEY VIEW,3268,NaN,NaN,NaN
3,715903,5,N,7,37,69154.0,1.56,118.193,33.886992,-118.034125,NaN,OR,1,ALONDRA,3269,NaN,NaN,NaN
4,715904,5,S,7,37,69154.0,2.27,118.840,33.892489,-118.044573,NaN,OR,1,CARMENITA,3253,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,777794,5,S,7,37,8954.0,29.68,146.250,34.184491,-118.316733,2.645,HV,1,BURBANK 1,3243,NaN,NaN,NaN
4884,777795,5,N,7,37,8954.0,29.68,146.313,34.184656,-118.316541,2.645,HV,1,BURBANK 1,3243,NaN,NaN,NaN
4885,777796,5,N,7,37,8954.0,29.68,146.313,34.184656,-118.316541,0.350,ML,5,BURBANK 1,3243,NaN,NaN,NaN
4886,777797,5,S,7,37,8954.0,29.68,146.250,34.184491,-118.316733,NaN,FR,3,BURBANK 1,3243,NaN,NaN,NaN
4887,777829,60,W,7,37,44000.0,R2.473,2.647,34.032415,-118.183235,NaN,FR,1,THIRD,3130,NaN,NaN,NaN

In [7]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d08_text_meta_2024_04_26.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems08: ',len(meta_data.ID.unique()))
meta_data

ID number pems08:  2064

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,801230,10,W,8,71,48788.0,0.591,47.356,34.082004,-117.699964,0.845,ML,4,MONTE VISTA AVE,1,NaN,NaN,NaN
1,801231,10,W,8,71,48788.0,0.591,47.356,34.082004,-117.699964,NaN,OR,2,MONTE VISTA AVE,1,NaN,NaN,NaN
2,801232,10,E,8,71,48788.0,0.721,47.486,34.082149,-117.697705,0.996,ML,4,MONTE VISTA AVE,1,NaN,NaN,NaN
3,801233,10,E,8,71,48788.0,0.721,47.486,34.082149,-117.697705,NaN,OR,2,MONTE VISTA AVE,1,NaN,NaN,NaN
4,801234,10,W,8,71,48788.0,1.168,47.933,34.085065,-117.690768,0.660,ML,4,CENTRAL AVE,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,828990,60,E,8,65,49270.0,19.041,59.162,33.939156,-117.179892,0.313,ML,3,Moreno Beach ON (T),1,NaN,NaN,NaN
2060,828991,60,W,8,65,49270.0,19.041,59.162,33.939350,-117.179896,NaN,OR,2,Moreno Beach ON (T),1,NaN,NaN,NaN
2061,828992,60,W,8,65,49270.0,19.041,59.162,33.939350,-117.179896,NaN,FR,1,Moreno Beach ON (T),1,NaN,NaN,NaN
2062,828993,60,W,8,65,49270.0,19.041,59.162,33.939350,-117.179896,0.391,HV,1,Moreno Beach ON (T),1,NaN,NaN,NaN
2063,828995,60,E,8,65,49270.0,19.041,59.162,33.939156,-117.179892,0.313,HV,1,Moreno Beach ON (T),1,NaN,NaN,NaN

In [8]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d10_text_meta_2024_03_08.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems10: ',len(meta_data.ID.unique()))
meta_data

ID number pems10:  1378

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,1000110,5,S,10,77,NaN,R21.407,466.899,37.881396,-121.278917,0.749,ML,3,N/O Mathews Rd,NaN,NaN,NaN,NaN
1,1000210,5,S,10,77,NaN,R20.8789,466.371,37.873818,-121.277900,0.478,ML,3,N/O Eldorado St,NaN,NaN,NaN,NaN
2,1000310,5,S,10,77,NaN,R20.45,465.942,37.867677,-121.278858,0.389,ML,3,N/O Eldorado St,NaN,NaN,NaN,NaN
3,1000410,5,S,10,77,NaN,R20.1,465.592,37.862729,-121.280287,0.397,ML,3,N/O Roth Rd,NaN,NaN,NaN,NaN
4,1000510,5,S,10,77,40704.0,R19.655,465.147,37.856421,-121.282010,0.474,ML,3,N/O Roth Rd,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,10159110,12,E,10,77,NaN,17.737,87.236,38.116123,-121.264102,0.134,ML,2,E/O Central Ave,NaN,NaN,NaN,NaN
1374,10159210,12,W,10,77,NaN,17.737,87.236,38.116227,-121.264119,0.134,ML,2,E/O Central Ave,NaN,NaN,NaN,NaN
1375,10159310,12,E,10,77,NaN,17.642,87.141,38.116022,-121.265711,2.500,ML,1,W/O Central Ave,NaN,NaN,NaN,NaN
1376,10159410,12,E,10,77,NaN,17.642,87.141,38.116022,-121.265711,0.048,ML,1,W/O Central Ave,NaN,NaN,NaN,NaN
1377,10159510,12,W,10,77,NaN,17.642,87.141,38.116125,-121.265726,2.548,ML,2,W/O Central Ave,NaN,NaN,NaN,NaN

In [9]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d11_text_meta_2022_03_16.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems11: ',len(meta_data.ID.unique()))
meta_data

ID number pems11:  1440

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,1100313,5,N,11,73,66000.0,22.324,22.215,32.791540,-117.207160,NaN,FR,1,Clairemont Dr to 5 NB,1,NaN,NaN,NaN
1,1100323,5,N,11,73,66000.0,34.142,34.033,32.950106,-117.243571,NaN,FR,2,Del Mar Heights Rd to 5 NB,1,NaN,NaN,NaN
2,1100326,5,N,11,73,66000.0,36.230,36.121,32.979329,-117.252709,NaN,FR,2,Via de la Valle EB to 5 NB,1,NaN,NaN,NaN
3,1100330,5,N,11,73,72506.0,37.386,37.277,32.995723,-117.256395,NaN,FR,2,Lomas Santa Fe Dr EB to 5 NB,1,NaN,NaN,NaN
4,1100340,5,N,11,73,11194.0,47.165,47.056,33.123940,-117.322960,NaN,FR,2,Palomar Airport Rd to 5 NB,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,1127213,15,S,11,73,66000.0,14.991,15.238,32.903245,-117.116630,0.513,ML,6,Carroll Canyon Rd to 15 SB,1,NaN,NaN,NaN
1436,1127218,805,N,11,73,66000.0,21.332,21.183,32.817540,-117.159809,0.248,ML,4,Balboa Ave WB to 805 NB,1,NaN,NaN,NaN
1437,1127224,805,N,11,73,66000.0,17.300,17.151,32.767405,-117.128984,0.237,ML,4,805 NB S/O 8,1,NaN,NaN,NaN
1438,1127227,94,W,11,73,66000.0,1.570,0.154,32.713385,-117.145037,NaN,FR,2,5 NB connector from 94 WB,1,NaN,NaN,NaN
1439,1127252,805,N,11,73,66000.0,12.350,12.201,32.704271,-117.094872,0.883,ML,5,Imperial Ave to 805 NB (BOS),1,NaN,NaN,NaN

In [10]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d12_text_meta_2023_12_05.txt'
meta_data = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data.ID.unique()
print('ID number pems12: ',len(meta_data.ID.unique()))
meta_data

ID number pems12:  2587

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,1201044,133,S,12,59,36770.0,9,8.991,33.661840,-117.755300,NaN,OR,1,BARRANCA2,565,NaN,NaN,NaN
1,1201052,133,S,12,59,36770.0,9,8.991,33.661840,-117.755300,NaN,FR,1,BARRANCA 2,565,NaN,NaN,NaN
2,1201054,133,S,12,59,36770.0,9,8.991,33.661840,-117.755300,1.285,ML,3,BARRANCA2,565,NaN,NaN,NaN
3,1201058,133,N,12,59,36770.0,8.866,8.857,33.659542,-117.756294,NaN,OR,1,BARRANCA1,551,NaN,NaN,NaN
4,1201064,133,N,12,59,36770.0,8.732,8.723,33.657392,-117.757636,NaN,FR,1,BARRANCA 1,551,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2582,1223066,405,N,12,59,84550.0,20.894,20.664,33.774862,-118.044441,NaN,FF,1,Almond,2417,NaN,NaN,NaN
2583,1223080,405,S,12,59,84550.0,20.894,20.664,33.774589,-118.044696,0.443,HV,2,Almond,2417,NaN,NaN,NaN
2584,1223081,405,S,12,59,84550.0,20.894,20.664,33.774589,-118.044696,0.443,ML,6,Almond,2417,NaN,NaN,NaN
2585,1223082,405,S,12,59,84550.0,20.894,20.664,33.774589,-118.044696,NaN,FF,1,Almond,2417,NaN,NaN,NaN
2586,1223083,405,S,12,59,84550.0,20.894,20.664,33.774589,-118.044696,NaN,FF,3,Almond,2417,NaN,NaN,NaN