In [1]:
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd

In [26]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d06_text_meta_2009_12_04.txt'
meta_data1 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data1

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,601100,180,W,6,19,27000.0,60.6300,36.173,36.735928,-119.750876,0.145,ML,1,CHESTNUT LP 180 WB,NaN,NaN,NaN,NaN
1,601101,41,S,6,39,NaN,0.9800,135.982,36.890419,-119.793045,1.055,ML,2,VALLEY CHILDREN BLVD DT 41 SB,NaN,NaN,NaN,NaN
2,601102,41,S,6,39,NaN,1.1300,136.132,36.892614,-119.792978,2.575,ML,2,VALLEY CHILDREN BLVD LP 41 SB,NaN,NaN,NaN,NaN
3,601103,180,E,6,19,27000.0,54.5900,31.090,36.735669,-119.844481,2.510,ML,2,MARKS AVE LP 180 EB,NaN,NaN,NaN,NaN
4,601104,180,E,6,19,27000.0,54.6100,31.110,36.735672,-119.844121,0.705,ML,2,MARKS AVE DT 180 EB,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,649956,99,N,6,19,27000.0,20.4030,132.743,36.727434,-119.795106,NaN,FR,1,FRESNO ST,NaN,NaN,NaN,NaN
218,649957,99,S,6,19,27000.0,20.8555,133.170,36.732214,-119.800672,NaN,FR,1,TUOLUMNE ST,NaN,NaN,NaN,NaN
219,649958,99,N,6,19,27000.0,21.4020,133.742,36.738152,-119.807249,NaN,FR,1,ELDORADO ST,NaN,NaN,NaN,NaN
220,649961,99,S,6,19,27000.0,22.8020,135.117,36.751026,-119.825739,NaN,FR,1,BELMONT AVE,NaN,NaN,NaN,NaN
221,649967,99,S,6,19,NaN,28.0020,140.317,36.807035,-119.885633,NaN,FR,1,SHAW AVE,NaN,NaN,NaN,NaN

In [27]:
meta_data1.ID.unique()
print('ID number: ',len(meta_data1.ID.unique()))

ID number:  222

In [28]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d06_text_meta_2010_06_23.txt'
meta_data2 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data2.ID.unique()
print('ID number 2: ',len(meta_data2.ID.unique()))
meta_data2

ID number 2:  260

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,601100,180,W,6,19,27000.0,60.6300,36.173,36.735928,-119.750876,0.143,ML,1,CHESTNUT LP 180 WB,NaN,NaN,NaN,NaN
1,601101,41,S,6,39,NaN,0.9800,135.982,36.890419,-119.793045,0.958,ML,2,VALLEY CHILDREN BLVD DT 41 SB,NaN,NaN,NaN,NaN
2,601102,41,S,6,39,NaN,1.1305,136.133,36.892628,-119.792977,2.575,ML,2,VALLEY CHILDREN BLVD LP 41 SB,NaN,NaN,NaN,NaN
3,601103,180,E,6,19,27000.0,54.5950,31.095,36.735670,-119.844391,2.508,ML,2,MARKS AVE LP 180 EB,NaN,NaN,NaN,NaN
4,601104,180,E,6,19,27000.0,54.6105,31.111,36.735672,-119.844103,0.703,ML,2,MARKS AVE DT 180 EB,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,649956,99,N,6,19,27000.0,20.4020,132.742,36.727423,-119.795094,NaN,FR,1,FRESNO ST,NaN,NaN,NaN,NaN
256,649957,99,S,6,19,27000.0,20.8555,133.170,36.732214,-119.800672,NaN,FR,1,TUOLUMNE ST,NaN,NaN,NaN,NaN
257,649958,99,N,6,19,27000.0,21.4020,133.742,36.738152,-119.807249,NaN,FR,1,ELDORADO ST,NaN,NaN,NaN,NaN
258,649961,99,S,6,19,27000.0,22.8020,135.117,36.751026,-119.825739,NaN,FR,1,N OF BELMONT AVE,NaN,NaN,NaN,NaN
259,649967,99,S,6,19,NaN,28.0020,140.317,36.807035,-119.885633,NaN,FR,1,SHAW AVE,NaN,NaN,NaN,NaN

In [29]:
meta_data2.ID.unique()

array([601100, 601101, 601102, 601103, 601104, 601201, 601202, 601203,
       601204, 601205, 601206, 601207, 601208, 601209, 601210, 601211,
       601212, 601213, 601214, 601215, 601216, 601217, 601218, 601219,
       601220, 601221, 601222, 601225, 601226, 601227, 601228, 601229,
       601230, 601233, 601235, 601236, 601238, 601241, 601242, 601247,
       601248, 601249, 601251, 601252, 601253, 601254, 601255, 601300,
       601307, 601337, 601356, 601358, 601361, 601379, 601425, 601427,
       601432, 601436, 601445, 601523, 601526, 601528, 601529, 601530,
       601532, 601534, 601536, 601538, 601540, 601542, 601612, 601803,
       601805, 601808, 601929, 602100, 602101, 602102, 602103, 602104,
       602201, 602202, 602203, 602204, 602205, 602206, 602207, 602208,
       602209, 602210, 602211, 602212, 602213, 602214, 602215, 602216,
       602217, 602218, 602219, 602220, 602221, 602222, 602225, 602226,
       602227, 602228, 602229, 602230, 602233, 602235, 602236, 602238,
       602241, 602242, 602247, 602248, 602249, 602251, 602252, 602254,
       602300, 602337, 602379, 602425, 602432, 602436, 602526, 602530,
       602532, 602534, 602536, 602538, 602540, 602542, 602612, 602803,
       602804, 602929, 614151, 614154, 614155, 614156, 614157, 614158,
       614159, 614160, 614161, 614162, 614163, 614164, 619951, 619952,
       619953, 619954, 619955, 619956, 619957, 619958, 619959, 619960,
       619961, 619962, 619963, 619964, 619965, 619966, 619967, 619968,
       619971, 619972, 619973, 619974, 619975, 619976, 619977, 619978,
       619979, 619980, 619981, 619982, 619983, 619984, 619985, 619986,
       619987, 619988, 619990, 624152, 624156, 629951, 629952, 629953,
       629954, 629955, 629956, 629957, 629958, 629959, 629960, 629961,
       629962, 629963, 629964, 629965, 629966, 629967, 629968, 629971,
       629972, 629973, 629974, 629975, 629976, 629977, 629978, 629979,
       629980, 629987, 629988, 629990, 629991, 629992, 629993, 629994,
       629995, 629996, 634164, 639952, 639953, 639954, 639956, 639957,
       639959, 639960, 639962, 639963, 639964, 639965, 639972, 639976,
       639980, 639987, 639991, 639992, 644151, 644157, 644158, 644159,
       644160, 644161, 644163, 649952, 649953, 649954, 649955, 649956,
       649957, 649958, 649961, 649967], dtype=int64)

In [30]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d06_text_meta_2018_03_03.txt'
meta_data3 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data3.ID.unique()
print('ID number 3: ',len(meta_data3.ID.unique()))
meta_data3

ID number 3:  585

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,601100,180,W,6,19,27000.0,R60.935,37.399,36.754715,-119.735475,0.311,ML,1,CHESTNUT LP 180 WB,NaN,NaN,NaN,NaN
1,601101,41,S,6,39,NaN,1,136.002,36.890711,-119.793037,0.439,ML,2,VALLEY CHILDREN BLVD DT 41 SB,NaN,NaN,NaN,NaN
2,601102,41,S,6,39,NaN,1.17,136.172,36.893199,-119.792958,2.585,ML,2,VALLEY CHILDREN BLVD LP 41 SB,NaN,NaN,NaN,NaN
3,601103,947,E,6,19,27000.0,54.595,0.575,36.738176,-119.845004,0.460,ML,2,MARKS AVE LP 180 EB,NaN,NaN,NaN,NaN
4,601105,99,N,6,19,NaN,12.55,124.890,36.642613,-119.701748,0.510,ML,3,CLOVIS AVE 99 NB,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,649952,99,S,6,19,NaN,17.56,129.875,36.695505,-119.762829,NaN,FR,1,ORANGE AVE,NaN,NaN,NaN,NaN
581,649953,99,N,6,19,NaN,18.302,130.642,36.704000,-119.771040,NaN,FR,1,JENSEN AVE,NaN,NaN,NaN,NaN
582,649961,99,S,6,19,27000.0,22.802,135.117,36.751026,-119.825739,NaN,FR,1,N OF BELMONT AVE,NaN,NaN,NaN,NaN
583,758410,58,W,6,29,NaN,56.987,113.813,35.352643,-118.957296,0.459,ML,3,E OF QUANT AVE,NaN,NaN,NaN,NaN
584,858410,58,E,6,29,NaN,56.988,113.814,35.352413,-118.957280,0.459,ML,3,E OF QUANT AVE,NaN,NaN,NaN,NaN

In [31]:
import pandas as pd

# Replace 'your_file_path.txt' with the actual path of your file
file_path = './meta/d06_text_meta_2023_08_08.txt'
meta_data4 = pd.read_csv(file_path, delimiter='\t', header=0)
meta_data4.ID.unique()
print('ID number 4: ',len(meta_data4.ID.unique()))
meta_data4

ID number 4:  705

,ID,Fwy,Dir,District,County,City,State_PM,Abs_PM,Latitude,Longitude,Length,Type,Lanes,Name,User_ID_1,User_ID_2,User_ID_3,User_ID_4
0,601100,180,W,6,19,27000.0,60.935,37.399,36.754715,-119.735475,0.205,ML,1,CHESTNUT LP 180 WB,1,NaN,NaN,NaN
1,601101,41,S,6,39,NaN,1.000,136.002,36.890711,-119.793037,0.436,ML,2,VALLEY CHILDREN BLVD DT 41 SB,1,NaN,NaN,NaN
2,601102,41,S,6,39,NaN,1.170,136.172,36.893199,-119.792958,2.585,ML,2,VALLEY CHILDREN BLVD LP 41 SB,1,NaN,NaN,NaN
3,601103,180,E,6,19,NaN,54.595,31.058,36.738176,-119.845004,0.460,ML,2,MARKS AVE LP 180 EB,1,NaN,NaN,NaN
4,601105,99,N,6,19,NaN,12.550,124.890,36.642613,-119.701748,0.620,ML,3,CLOVIS AVE 99 NB,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,629991,5,S,6,29,NaN,68.011,273.063,35.559093,-119.598582,2.668,ML,2,5.4 MI NO LERDO HWY (AT CANAL) S,1,NaN,NaN,NaN
701,629992,99,N,6,29,NaN,23.826,24.648,35.357102,-119.039342,0.815,ML,4,N OF RTE 58 OC AT SB OFF-RAMP,1,NaN,NaN,NaN
702,629999,5,S,6,29,NaN,37.304,242.356,35.250749,-119.207364,2.817,ML,2,S OF RTE 119 SB,1,NaN,NaN,NaN
703,639980,99,S,6,29,NaN,22.188,23.010,35.333330,-119.039727,NaN,FR,1,S OF PLANZ RD,1,NaN,NaN,NaN
704,639992,99,N,6,29,NaN,24.590,25.412,35.367945,-119.041566,NaN,OR,1,N OF RTE 58 OC AT SB OFF-RAMP,1,NaN,NaN,NaN

In [32]:
import numpy as np

# # 示例数据，实际数据可能会有不同
# arr1 = np.array(range(400000, 401610))
# arr2 = np.array(range(400500, 402000))
# arr3 = np.array(range(400900, 402500))
# arr4 = np.array(range(400000, 402000))

# 计算四个数组的交集
def find_common_elements(arr1, arr2, arr3, arr4):
    common12 = np.intersect1d(arr1, arr2)
    common123 = np.intersect1d(common12, arr3)
    common1234 = np.intersect1d(common123, arr4)
    return common1234

# 调用函数（在最终版本中取消注释）
common_elements = find_common_elements(meta_data4.ID.unique(), meta_data3.ID.unique(), meta_data2.ID.unique(), meta_data1.ID.unique())
print('common number 4: ',len(common_elements))
np.save('pems06_comm.npy',common_elements)
common_elements

common number 4:  130

array([601100, 601101, 601102, 601103, 601205, 601206, 601207, 601208,
       601209, 601211, 601212, 601213, 601214, 601215, 601216, 601217,
       601218, 601219, 601220, 601221, 601222, 601225, 601226, 601227,
       601228, 601229, 601230, 601233, 601235, 601236, 601242, 601247,
       601248, 601249, 601251, 601300, 601307, 601337, 601358, 601379,
       601425, 601436, 601526, 601528, 601530, 601536, 601538, 601540,
       601542, 601612, 601929, 602100, 602101, 602102, 602103, 602205,
       602206, 602207, 602208, 602209, 602210, 602211, 602212, 602213,
       602214, 602215, 602216, 602217, 602218, 602219, 602220, 602221,
       602222, 602225, 602226, 602227, 602228, 602229, 602230, 602233,
       602235, 602236, 602238, 602242, 602247, 602248, 602249, 602251,
       602300, 602337, 602379, 602425, 602436, 602526, 602530, 602536,
       602538, 602540, 602542, 602612, 602929, 619951, 619952, 619953,
       619961, 619966, 619971, 619972, 619973, 619975, 619977, 619980,
       619982, 619990, 629951, 629952, 629953, 629961, 629966, 629971,
       629972, 629973, 629975, 629977, 629980, 629990, 629991, 629992,
       639980, 639992], dtype=int64)